{% ckan_extends %}


{% block breadcrumb %}
    {% if self.breadcrumb_content() | trim %}
      <ol class="profile-page breadcrumb">
        {% snippet 'snippets/home_breadcrumb_item.html' %}
        {% block breadcrumb_content %}
          <li><a href="{{ h.url_for('userflow.index')}}">{{ _('My account') }}</a></li>
          <li><a href="{{ h.url_for('user.read', id=user_dict.name) }}">{{ _('My profile') }}</a></li>
          <li class="active"><a>{{ _('Edit profile') }}</a></li>
        {% endblock %}
      </ol>
    {% endif %}
{% endblock %}


{% block primary_content_inner %}
  {% if user_dict.name == g.user %}
  <div class="logout-button">
    <a class="btn btn-primary pull-right" href="{{ h.url_for('user.logout') }}"><i class="fa fa-right-from-bracket"></i>Log Out </a>
  </div>
  {% endif %}
  {{ super() }}
{% endblock %}


