{% ckan_extends %}

{% block breadcrumb %}
  <p class="subtitle">{% link_for _('Home'), named_route='home.index' %} / {% link_for _('Users'), named_route='user.index' %} / {% link_for user_dict.display_name|truncate(35), named_route='user.read', id=user_dict.name %} /</p>
  <h1 class="headline">{% link_for _('Edit User'), named_route='user.edit', id=user_dict.name %}</p>
{% endblock %}


{% block content_primary_nav %}
      <li class="active"><a href="{{ h.url_for('user.read', id=user_dict.name) }}"><i class="fa fa-sitemap"></i> {{ _('Profile') }}</a></li>
      <li><a href="{{ h.url_for('user.api_tokens', id=user_dict.name) }}"><i class="fa fa-key"></i> {{ user_dict.display_name }}</a></li>
{% endblock %}
