{% extends "page.html" %}

{% block subtitle %}{{ _('Under construction') }}{% endblock subtitle%}

{% block content %}
<div role="main" class="insights-page">
    <div class="promoted-background ">
        <div class="container">
            <div class="promoted promoted-home col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <div class="promoted-container">
                    <p class="subtitle">{{ _('Home') }} / </p>
                    <h1 class="page-title">{{ _('Under construction') }}</h1>
                    <p>{{ _('This page is currently under construction - please check back later.') }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
