{% extends "package/read_base.html" %}

{% block primary_content %}
    {% asset 'who-afro/who-afro-dashboard-css' %}
    {% set resource_id = pkg.resources[0].id %}
    {% set indicator_details = h.get_indicator_details(resource_id) %}
    {% if indicator_details.facet_field=="DIM_SEX" %}
        {% set facet = '[ { "id": "TOTAL", "label": "Total", "color": "#171B38" }, { "id": "FEMALE", "label": "Female", "color": "#009ADE" }, { "id": "MALE", "label": "Male", "color": "#80BC00" } ]' %}
    {% else %}
        {% set facet = '[ { "id": "TOTAL", "label": "Total", "color": "#171B38" } ]' %}
    {% endif %}
    <p>{{ indicator_details }}</p>
    <div id="who-afro-js"
         data-datastore-path="{{ h.url_for('api.action', ver=3, logic_function='datastore_search') }}"
         data-resource-id="{{ resource_id }}"
         data-resource-title="{{ pkg.title }}"
         data-round-to-decimal-places="2"
         data-labels='{ "segment": "{{ indicator_details.facet_label }}", "amount": "{{ pkg.title }}", "noRowsWarning": "No data to display" }'
         data-sexes='{{ facet }}'
         data-api-fields='{ "value": "{{ indicator_details.value_field }}", "country": "{{ indicator_details.geo_field }}", "segment": {{ indicator_details.facet_field }}, "time_axis": "{{ indicator_details.time_field }}" }'>
    </div>
    {% set url = h.url_for(pkg.type ~ '_resource.read', id=pkg.name, resource_id=resource_id) %}
    <div class="overview-data-link small">
        <a target="_blank"
           href="{{ url }}">
          {{ _('Preview / Download Dataset') }}
        </a>
    </div>
    {% asset 'who-afro/who-afro-dashboard-js' %}
    {%- snippet "scheming/package/snippets/access_use.html", pkg_dict=pkg_dict -%}
{% endblock primary_content %}
