{% ckan_extends %}

{% set tags = h.get_facet_items_dict('tags', c.search_facets, limit=3) %}
{% set placeholder = _('E.g. environment') %}
{% set stats = h.get_site_statistics() %}

{% block subtitle %}{{ _(dataset_type.title()) }}{% endblock %}

{% block promoted_toolbar %}
{% endblock %}

{% block page_primary_action %}
{% if h.check_access('package_create') %}
<div class="page_primary_action">
    {% snippet 'snippets/dataset_selector.html'%}
</div>
{% endif %}
{% endblock %}


{%- block content %}
    <div role="main">
        <div class="promoted-background ">
            {% snippet 'package/snippets/promoted_plus.html' %}
            <div class="container">
                <div class="promoted">
                    <div class="promoted-container container">
                        <p class="subtitle">{{ _('Home') }} / </p>
                        <h1 class="headline">{{ _('Data') }}</h1>
                    </div>
                </div>
            </div>
        </div>

    {{super() }}
</div>
{%  endblock %}


{% block secondary_content %}
  {% set sorting = [(_('Relevance'), 'relevance'), (_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}

  <div class="filters">
    <div>
      <h3>{{ _('Order by:') }}</h3>
      <div class="form-group control-order-by">
        <!-- <label for="field-order-by">{{ _('Order by') }}</label> -->
        <select id="field-order-by" name="sort" class="form-control form-select">
          {% for label, value in sorting %}
            {% if label and value %}
              <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
            {% endif %}
          {% endfor %}
        </select>
        {% block search_sortby_button %}
        <button class="btn btn-default js-hide" type="submit">{{ _('Go') }}</button>
        {% endblock %}
      </div>

      <h3>{{ _('Filter by:') }}</h3>
      {% for facet in facet_titles %}
        {% set scheming_choices=h.scheming_field_by_name(h.scheming_get_dataset_schema(dataset_type).dataset_fields, facet).choices %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, search_facets=search_facets, scheming_choices=scheming_choices) }}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}

{% block package_search_results_api %}
{% endblock %}
