{% extends "page.html" %}

{% block subtitle %}
{{ _('Countries') }}
{%endblock subtitle%}

{% block breadcrumb_content %}
<li class="active">
  {% link_for _('Countries'), named_route='countries.index' %}
</li>
{% endblock %}

{% block content %}
<div role="main" class="insights-page">
  <div class="promoted-background">
    {% snippet 'package/snippets/promoted_plus.html' %}
    <div class="container">
      <div class="promoted promoted-home col-xs-12 col-sm-10 col-md-8 col-lg-6">
        <div class="promoted-container">
          <p class="subtitle">{{ _('Home') }} /</p>
          <h1 class="page-title">{{ _('Countries') }}</h1>
          <p>
            {{ _('WHO African Region country members can access a collection of
            high quality data analyses, visualisations and reported indicators
            for their countries by clicking the links below.') }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="icon-list">
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="a"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/fr/countries/DZ" hreflang="fr"
              ><img
                loading="lazy"
                src="/images/country-flags/algeria.png"
                alt="Algeria"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/fr/countries/DZ" hreflang="fr">Algeria</a>
            (French)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="a"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/pt_PT/countries/AO" hreflang="pt-pt"
              ><img
                loading="lazy"
                src="/images/country-flags/angola.png"
                alt="Angola"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/pt_PT/countries/AO" hreflang="pt-pt">Angola</a>
            (Portuguese)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="b"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/fr/countries/BJ" hreflang="fr"
              ><img
                loading="lazy"
                src="/images/country-flags/benin.png"
                alt="Benin"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/fr/countries/BJ" hreflang="fr">Benin</a>
            (French)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="b"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/BW" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/botswana.png"
                alt="Botswana"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/BW" hreflang="en">Botswana</a>
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="b"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/fr/countries/BF" hreflang="fr"
              ><img
                loading="lazy"
                src="/images/country-flags/burkina-faso.png"
                alt="Burkina Faso"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/fr/countries/BF" hreflang="fr">Burkina Faso</a>
            (French)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="b"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/fr/countries/BI" hreflang="fr"
              ><img
                loading="lazy"
                src="/images/country-flags/burundi.png"
                alt="Burundi"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/fr/countries/BI" hreflang="fr">Burundi</a>
            (French)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="c"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/pt_PT/countries/CV" hreflang="pt-pt"
              ><img
                loading="lazy"
                src="/images/country-flags/cabo-verde.png"
                alt="Cabo Verde"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/pt_PT/countries/CV" hreflang="pt-pt"
              >Cabo Verde</a
            >
            (Portuguese)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="c"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/fr/countries/CM" hreflang="fr"
              ><img
                loading="lazy"
                src="/images/country-flags/cameroon.png"
                alt="Cameroon"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/fr/countries/CM" hreflang="fr">Cameroon</a>
            (French)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="c"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/fr/countries/CF" hreflang="fr"
              ><img
                loading="lazy"
                src="/images/country-flags/central-african-republic.png"
                alt="Central African Republic"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/fr/countries/CF" hreflang="fr"
              >Central African Republic</a
            >
            (French)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="c"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/fr/countries/TD" hreflang="fr"
              ><img
                loading="lazy"
                src="/images/country-flags/chad.png"
                alt="Chad"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/fr/countries/TD" hreflang="fr">Chad</a>
            (French)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="c"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/fr/countries/KM" hreflang="fr"
              ><img
                loading="lazy"
                src="/images/country-flags/comoros.png"
                alt="Comoros"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/fr/countries/KM" hreflang="fr">Comoros</a>
            (French)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="c"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/fr/countries/CG" hreflang="fr"
              ><img
                loading="lazy"
                src="/images/country-flags/congo.png"
                alt="Congo"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/fr/countries/CG" hreflang="fr">Congo</a>
            (French)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="c"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/fr/countries/CI" hreflang="fr"
              ><img
                loading="lazy"
                src="/images/country-flags/cote-divoire.png"
                alt="Cote d'Ivoire"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/fr/countries/CI" hreflang="fr">Cote d'Ivoire</a>
            (French)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="d"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/fr/countries/CD" hreflang="fr"
              ><img
                loading="lazy"
                src="/images/country-flags/democratic-republic-of-congo.png"
                alt="Democratic Republic of Congo"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/fr/countries/CD" hreflang="fr"
              >Democratic Republic of Congo</a
            >
            (French)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="e"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/fr/countries/GQ" hreflang="fr"
              ><img
                loading="lazy"
                src="/images/country-flags/equatorial-guinea.png"
                alt="Equatorial Guinea"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/fr/countries/GQ" hreflang="fr"
              >Equatorial Guinea</a
            >
            (French)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="e"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/ER" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/eritrea.png"
                alt="Eritrea"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/ER" hreflang="en">Eritrea</a>
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="e"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/SZ" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/eswatini.png"
                alt="Eswatini"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/SZ" hreflang="en">Eswatini</a>
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="e"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/ET" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/ethiopia.png"
                alt="Ethiopia"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/ET" hreflang="en">Ethiopia</a>
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="g"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/fr/countries/GA" hreflang="fr"
              ><img
                loading="lazy"
                src="/images/country-flags/gabon.png"
                alt="Gabon"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/fr/countries/GA" hreflang="fr">Gabon</a>
            (French)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="g"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/GH" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/ghana.png"
                alt="Ghana"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/GH" hreflang="en">Ghana</a>
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="g"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/fr/countries/GN" hreflang="fr"
              ><img
                loading="lazy"
                src="/images/country-flags/guinea.png"
                alt="Guinea"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/fr/countries/GN" hreflang="fr">Guinea</a>
            (French)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="g"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/pt_PT/countries/GW" hreflang="pt-pt"
              ><img
                loading="lazy"
                src="/images/country-flags/guinea-bissau.png"
                alt="Guinea Bissau"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/pt_PT/countries/GW" hreflang="pt-pt"
              >Guinea-Bissau</a
            >
            (Portuguese)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="k"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/KE" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/kenya.png"
                alt="Kenya"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/KE" hreflang="en">Kenya</a>
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="l"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/LS" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/lesotho.png"
                alt="Lesotho"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/LS" hreflang="en">Lesotho</a>
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="l"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/LR" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/liberia.png"
                alt="Liberia"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/LR" hreflang="en">Liberia</a>
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="m"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/fr/countries/MG" hreflang="fr"
              ><img
                loading="lazy"
                src="/images/country-flags/madagascar.png"
                alt="Madagascar"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/fr/countries/MG" hreflang="fr">Madagascar</a>
            (French)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="m"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/MW" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/malawi.png"
                alt="Malawi"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/MW" hreflang="en">Malawi</a>
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="m"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/fr/countries/ML" hreflang="fr"
              ><img
                loading="lazy"
                src="/images/country-flags/mali.png"
                alt="Mali"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/fr/countries/ML" hreflang="fr">Mali</a>
            (French)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="m"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/fr/countries/MR" hreflang="fr"
              ><img
                loading="lazy"
                src="/images/country-flags/mauritania.png"
                alt="Mauritania"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/fr/countries/MR" hreflang="fr">Mauritania</a>
            (French)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="m"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/MU" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/mauritius.png"
                alt="Mauritius"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/MU" hreflang="en">Mauritius</a>
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="m"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/pt_PT/countries/MZ" hreflang="pt-pt"
              ><img
                loading="lazy"
                src="/images/country-flags/mozambique.png"
                alt="Mozambique"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/pt_PT/countries/MZ" hreflang="pt-pt"
              >Mozambique</a
            >
            (Portuguese)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="n"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/NA" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/namibia.png"
                alt="Namibia"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/NA" hreflang="en">Namibia</a>
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="n"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/fr/countries/NE" hreflang="fr"
              ><img
                loading="lazy"
                src="/images/country-flags/niger.png"
                alt="Niger"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/fr/countries/NE" hreflang="fr">Niger</a>
            (French)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="n"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/NG" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/nigeria.png"
                alt="Nigeria"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/NG" hreflang="en">Nigeria</a>
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="r"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/RW" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/rwanda.png"
                alt="Rwanda"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/RW" hreflang="en">Rwanda</a>
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="s"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/pt_PT/countries/ST" hreflang="pt-pt"
              ><img
                loading="lazy"
                src="/images/country-flags/sao-tome-and-principe.png"
                alt="Sao Tome and Principe"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/pt_PT/countries/ST" hreflang="pt-pt"
              >Sao Tome and Principe</a
            >
            (Portuguese)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="s"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/fr/countries/SN" hreflang="fr"
              ><img
                loading="lazy"
                src="/images/country-flags/senegal.png"
                alt="Senegal"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/fr/countries/SN" hreflang="fr">Senegal</a>
            (French)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="s"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/SC" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/seychelles.png"
                alt="Seychelles"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/SC" hreflang="en">Seychelles</a>
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="s"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/SL" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/sierra-leone.png"
                alt="Sierra Leone"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/SL" hreflang="en">Sierra Leone</a>
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="s"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/ZA" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/south-africa.png"
                alt="South Africa"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/ZA" hreflang="en">South Africa</a>
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="s"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/SS" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/south-sudan.png"
                alt="South Sudan"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/SS" hreflang="en">South Sudan</a>
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="t"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/GM" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/the-gambia.png"
                alt="The Gambia"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/GM" hreflang="en">The Gambia</a>
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="t"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/fr/countries/TG" hreflang="fr"
              ><img
                loading="lazy"
                src="/images/country-flags/togo.png"
                alt="Togo"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/fr/countries/TG" hreflang="fr">Togo</a>
            (French)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="u"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/UG" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/uganda.png"
                alt="Uganda"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/UG" hreflang="en">Uganda</a>
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="u"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/TZ" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/united-republic-of-tanzania.png"
                alt="United Republic of Tanzania"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/TZ" hreflang="en"
              >United Republic of Tanzania</a
            >
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="z"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/ZM" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/zambia.png"
                alt="Zambia"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/ZM" hreflang="en">Zambia</a>
            (English)</span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="z"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/en_GB/countries/ZW" hreflang="en"
              ><img
                loading="lazy"
                src="/images/country-flags/zimbabwe.png"
                alt="Zimbabwe"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/en_GB/countries/ZW" hreflang="en">Zimbabwe</a>
            (English)</span
          >
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock content %}
