{% extends "page.html" %}

{% block subtitle %}
{{ _('Countries') }}
{%endblock subtitle%}

{% block breadcrumb_content %}
<li class="active">
  {% link_for _('Countries'), named_route='countries.index' %}
</li>
{% endblock %}

{% block content %}
<div role="main" class="countries">
  <div class="promoted-background">
    {% snippet 'package/snippets/promoted_plus.html' %}
    <div class="container">
      <div class="promoted promoted-home col-xs-12 col-sm-10 col-md-8 col-lg-6">
        <div class="promoted-container">
          <p class="subtitle">{{ _('Home') }} /</p>
          <h1 class="page-title">{{ _('Countries') }}</h1>
          <p>
            {{ _('WHO African Region country members can access a collection of
            high quality data analyses, visualisations and reported indicators
            for their countries by clicking the links below.') }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="icon-list">
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="a"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/DZ"><img
                loading="lazy"
                src="/images/country-flags/algeria.png"
                alt="Algeria"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/DZ">Algeria</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="a"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/AO"><img
                loading="lazy"
                src="/images/country-flags/angola.png"
                alt="Angola"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/AO">Angola</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="b"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/BJ"><img
                loading="lazy"
                src="/images/country-flags/benin.png"
                alt="Benin"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/BJ">Benin</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="b"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/BW"><img
                loading="lazy"
                src="/images/country-flags/botswana.png"
                alt="Botswana"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/BW">Botswana</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="b"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/BF"><img
                loading="lazy"
                src="/images/country-flags/burkina-faso.png"
                alt="Burkina Faso"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/BF">Burkina Faso</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="b"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/BI"><img
                loading="lazy"
                src="/images/country-flags/burundi.png"
                alt="Burundi"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/BI">Burundi</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="c"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/CV"><img
                loading="lazy"
                src="/images/country-flags/cabo-verde.png"
                alt="Cabo Verde"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/CV">Cabo Verde</a
            ></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="c"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/CM"><img
                loading="lazy"
                src="/images/country-flags/cameroon.png"
                alt="Cameroon"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/CM">Cameroon</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="c"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/CF"><img
                loading="lazy"
                src="/images/country-flags/central-african-republic.png"
                alt="Central African Republic"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/CF">Central African Republic</a
            ></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="c"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/TD"><img
                loading="lazy"
                src="/images/country-flags/chad.png"
                alt="Chad"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/TD">Chad</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="c"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/KM"><img
                loading="lazy"
                src="/images/country-flags/comoros.png"
                alt="Comoros"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/KM">Comoros</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="c"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/CG"><img
                loading="lazy"
                src="/images/country-flags/congo.png"
                alt="Congo"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/CG">Congo</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="c"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/CI"><img
                loading="lazy"
                src="/images/country-flags/cote-divoire.png"
                alt="Cote d'Ivoire"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/CI">Cote d'Ivoire</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="d"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/CD"><img
                loading="lazy"
                src="/images/country-flags/democratic-republic-of-congo.png"
                alt="Democratic Republic of Congo"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/CD">Democratic Republic of Congo</a
            ></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="e"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/GQ"><img
                loading="lazy"
                src="/images/country-flags/equatorial-guinea.png"
                alt="Equatorial Guinea"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/GQ">Equatorial Guinea</a
            ></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="e"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/ER"><img
                loading="lazy"
                src="/images/country-flags/eritrea.png"
                alt="Eritrea"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/ER">Eritrea</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="e"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/SZ"><img
                loading="lazy"
                src="/images/country-flags/eswatini.png"
                alt="Eswatini"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/SZ">Eswatini</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="e"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/ET"><img
                loading="lazy"
                src="/images/country-flags/ethiopia.png"
                alt="Ethiopia"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/ET">Ethiopia</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="g"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/GA"><img
                loading="lazy"
                src="/images/country-flags/gabon.png"
                alt="Gabon"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/GA">Gabon</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="g"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/GH"><img
                loading="lazy"
                src="/images/country-flags/ghana.png"
                alt="Ghana"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/GH">Ghana</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="g"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/GN"><img
                loading="lazy"
                src="/images/country-flags/guinea.png"
                alt="Guinea"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/GN">Guinea</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="g"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/GW"><img
                loading="lazy"
                src="/images/country-flags/guinea-bissau.png"
                alt="Guinea Bissau"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/GW">Guinea-Bissau</a
            ></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="k"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/KE"><img
                loading="lazy"
                src="/images/country-flags/kenya.png"
                alt="Kenya"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/KE">Kenya</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="l"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/LS"><img
                loading="lazy"
                src="/images/country-flags/lesotho.png"
                alt="Lesotho"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/LS">Lesotho</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="l"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/LR"><img
                loading="lazy"
                src="/images/country-flags/liberia.png"
                alt="Liberia"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/LR">Liberia</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="m"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/MG"><img
                loading="lazy"
                src="/images/country-flags/madagascar.png"
                alt="Madagascar"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/MG">Madagascar</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="m"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/MW"><img
                loading="lazy"
                src="/images/country-flags/malawi.png"
                alt="Malawi"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/MW">Malawi</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="m"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/ML"><img
                loading="lazy"
                src="/images/country-flags/mali.png"
                alt="Mali"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/ML">Mali</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="m"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/MR"><img
                loading="lazy"
                src="/images/country-flags/mauritania.png"
                alt="Mauritania"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/MR">Mauritania</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="m"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/MU"><img
                loading="lazy"
                src="/images/country-flags/mauritius.png"
                alt="Mauritius"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/MU">Mauritius</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="m"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/MZ"><img
                loading="lazy"
                src="/images/country-flags/mozambique.png"
                alt="Mozambique"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/MZ">Mozambique</a
            ></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="n"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/NA"><img
                loading="lazy"
                src="/images/country-flags/namibia.png"
                alt="Namibia"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/NA">Namibia</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="n"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/NE"><img
                loading="lazy"
                src="/images/country-flags/niger.png"
                alt="Niger"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/NE">Niger</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="n"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/NG"><img
                loading="lazy"
                src="/images/country-flags/nigeria.png"
                alt="Nigeria"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/NG">Nigeria</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="r"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/RW"><img
                loading="lazy"
                src="/images/country-flags/rwanda.png"
                alt="Rwanda"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/RW">Rwanda</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="s"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/ST"><img
                loading="lazy"
                src="/images/country-flags/sao-tome-and-principe.png"
                alt="Sao Tome and Principe"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/ST">Sao Tome and Principe</a
            ></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="s"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/SN"><img
                loading="lazy"
                src="/images/country-flags/senegal.png"
                alt="Senegal"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/SN">Senegal</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="s"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/SC"><img
                loading="lazy"
                src="/images/country-flags/seychelles.png"
                alt="Seychelles"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/SC">Seychelles</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="s"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/SL"><img
                loading="lazy"
                src="/images/country-flags/sierra-leone.png"
                alt="Sierra Leone"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/SL">Sierra Leone</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="s"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/ZA"><img
                loading="lazy"
                src="/images/country-flags/south-africa.png"
                alt="South Africa"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/ZA">South Africa</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="s"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/SS"><img
                loading="lazy"
                src="/images/country-flags/south-sudan.png"
                alt="South Sudan"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/SS">South Sudan</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="t"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/GM"><img
                loading="lazy"
                src="/images/country-flags/the-gambia.png"
                alt="The Gambia"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/GM">The Gambia</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="t"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/TG"><img
                loading="lazy"
                src="/images/country-flags/togo.png"
                alt="Togo"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/TG">Togo</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="u"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/UG"><img
                loading="lazy"
                src="/images/country-flags/uganda.png"
                alt="Uganda"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/UG">Uganda</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="u"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/TZ"><img
                loading="lazy"
                src="/images/country-flags/united-republic-of-tanzania.png"
                alt="United Republic of Tanzania"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/TZ">United Republic of Tanzania</a
            ></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="z"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/ZM"><img
                loading="lazy"
                src="/images/country-flags/zambia.png"
                alt="Zambia"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/ZM">Zambia</a></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="z"></div></span>
        </div>
        <div class="views-field views-field-icon">
          <div class="field-content">
            <a href="/countries/ZW"><img
                loading="lazy"
                src="/images/country-flags/zimbabwe.png"
                alt="Zimbabwe"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a href="/countries/ZW">Zimbabwe</a></span
          >
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock content %}
