{% set stats = h.get_datahub_stats() %}

<div class="data-hub-stats">
    <div class="row">
        <div class="insight-small-rect col-lg-6 col-sm-6 col-xs-12">
            <p>{{ _('Total datasets') }}</p>
            <div class="number">
                <span>{{ stats['dataset_count'] }}</span>
            </div>

        </div>
        <div class="insight-small-rect col-lg-6 col-sm-6 col-xs-12">
            <p>{{ _('Updated this week') }}</p>
            <div class="number">
                <span>{{ stats['active_datasets_updated_for_current_week'] }}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="insight-small-rect col-lg-6 col-sm-6 col-xs-12">
            <p>{{ _('Users') }}</p>
            <div class="number">
                <span>{{ stats['active_users'] }}</span>
            </div>

        </div>
        <div class="insight-small-rect col-lg-6 col-sm-6 col-xs-12">
            <p>{{ _('Teams') }}</p>
            <div class="number">
                <span>{{ stats['organization_count'] }}</span>
            </div>
        </div>
    </div>
</div>