{% set current_lang = request.environ.CKAN_LANG %}

  <nav class="account not-authed">
        <ul class="list-unstyled">
            {% if still_under_development == True %}
                <li class="dev-banner"><a href="#"><img src="/images/alert-circle.png" alt="alert"/>BETA - Site under development<span class="clickable">Learn more</span></a></li>
            {%  endif %}
          {% for locale in h.get_available_locales() %}
            <li>
              <a href="{% url_for h.current_url(), locale=locale.short_name %}" {% if locale.short_name == current_lang %}selected="selected"{% endif %}>
              {{ h.format_locale(locale) }}
            </a>
            </li>
          {% endfor %}
        </ul>
  </nav>
