{% ckan_extends %}

{% block heading %}

    <h2 class="dataset-heading">
        <a href="{{ h.url_for('%s.read' % package.type, id=package.name) }}" title="{{ title }}">
            {{title|truncate(80)}}
        </a>
        <span class="badge {{ package.type }}">{{ package.type }}</span>
    </h2>

    <div class="modified">
        {{_('Modified')}} {{ h.time_ago_from_timestamp(package.metadata_modified) }}, {{ h.get_last_modifier(package.id) }} &middot; Downloads: {{ h.get_package_stats(package.id) }}
    </div>

{% endblock %}
