{% extends "page.html" %} {% block subtitle %} {{ _('Data Sources') }}
{%endblock subtitle%} {% block breadcrumb_content %}
<li class="active">
  {% link_for _('Data Sources'), named_route='sources.index' %}
</li>
{% endblock %} {% block content %}
<div role="main" class="insights-page">
  <div class="promoted-background">
    {% snippet 'package/snippets/promoted_plus.html' %}
    <div class="container">
      <div class="promoted promoted-home col-xs-12 col-sm-10 col-md-8 col-lg-6">
        <div class="promoted-container">
          <p class="subtitle">{{ _('Home') }} /</p>
          <h1 class="page-title">{{ _('Data Sources') }}</h1>
          <p>
            {{ _('The WHO African Regional Health Data Hub integrates public
            health and related data from across the region and beyond. We draw
            on a variety of sources including the following data sources.') }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="icon-list">
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="a"></div></span>
        </div>
        <div class="views-field views-field-field-icon">
          <div class="field-content">
            <a
              href="https://ucndw.afro.who.int/"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                loading="lazy"
                src="/images/source-icons/dhis2.png"
                alt="DHIS2 logo"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a
              href="https://ucndw.afro.who.int/"
              target="_blank"
              rel="noopener noreferrer"
              >WHO AFRO UCN Data Warehouse</a
            >
          </span>
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="a"></div></span>
        </div>
        <div class="views-field views-field-field-icon">
          <div class="field-content">
            <a
              href="http://idsr.afro.who.int/dhis-web-commons/security/login.action"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                loading="lazy"
                src="/images/source-icons/dhis2.png"
                alt="DHIS2 logo"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a
              href="http://idsr.afro.who.int/dhis-web-commons/security/login.action"
              target="_blank"
              rel="noopener noreferrer"
              >WHO AFRO IDSR Centralised Data Platform</a
            >
          </span>
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="a"></div></span>
        </div>
        <div class="views-field views-field-field-icon">
          <div class="field-content">
            <a
              href="https://extranet.who.int/dhis2/dhis-web-commons/security/login.action"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                loading="lazy"
                src="/images/source-icons/dhis2.png"
                alt="DHIS2 logo"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a
              href="https://extranet.who.int/dhis2/dhis-web-commons/security/login.action"
              target="_blank"
              rel="noopener noreferrer"
              >WHO Integrated Data Platform - World Malaria Report</a
            ></span
          >
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="b"></div></span>
        </div>
        <div class="views-field views-field-field-icon">
          <div class="field-content">
            <a
              href="https://aho.afro.who.int/af"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                loading="lazy"
                src="/images/source-icons/iaho.png"
                alt="iAHO logo"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a
              href="https://aho.afro.who.int/af"
              target="_blank"
              rel="noopener noreferrer"
              >Integrated African Health Observatory (iAHO)</a
            >
          </span>
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="b"></div></span>
        </div>
        <div class="views-field views-field-field-icon">
          <div class="field-content">
            <a
              href="https://www.amrcountryprogress.org/"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                loading="lazy"
                src="/images/source-icons/website.png"
                alt="website icon"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a
              href="https://www.amrcountryprogress.org/"
              target="_blank"
              rel="noopener noreferrer"
              >Tripartite AMR Country Self-Assessment Survey (TrACSS)</a
            >
          </span>
        </div>
      </li>
      <li>
        <div class="views-field views-field-nothing">
          <span class="field-content"><div id="b"></div></span>
        </div>
        <div class="views-field views-field-field-icon">
          <div class="field-content">
            <a
              href="https://data.who.int/"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                loading="lazy"
                src="/images/source-icons/who.png"
                alt="website icon"
              />
            </a>
          </div>
        </div>
        <div class="views-field views-field-title">
          <span class="field-content"
            ><a
              href="https://data.who.int/"
              target="_blank"
              rel="noopener noreferrer"
              >WHO Global Health Data Hub</a
            >
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock content %}
