{% extends "page.html" %}
{% block subtitle %}
    {{ _("Data Sources") }}
{% endblock subtitle %}

{% block breadcrumb_content %}
    <div class="active">{% link_for _('Data Sources'), named_route='sources.index' %}</div>
{% endblock %}

{% block content %}
    <div role="main" class="sources-page">
        <div class="promoted-background">
            {% snippet 'package/snippets/promoted_plus.html' %}
            <div class="container">
                <div class="promoted promoted-home col-xs-12 col-sm-10 col-md-8 col-lg-6">
                    <div class="promoted-container">
                        <p class="subtitle">{{ _("Home") }} /</p>
                        <h1 class="page-title">{{ _("Data Sources") }}</h1>
                        <p>
                            {{ _('The WHO African Regional Health Data Hub integrates pulic
                                  health and related data from across the region and beyond. We draw
                                  on a variety of sources including the following data sources.') }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container sources">
            <div class="row align-items-center">
                <div class="col-2 col-md-1 text-center">
                    <a href="https://ucndw.afro.who.int/"
                        target="_blank"
                        rel="noopener noreferrer">
                        <img loading="lazy" src="/images/source-icons/dhis2.png" alt="DHIS2 logo" />
                    </a>
                </div>
                <div class="col-9 col-sm-4 col-md-3">
                    <h5>
                    <a href="https://ucndw.afro.who.int/"
                        target="_blank"
                        rel="noopener noreferrer">{{ _('WHO CD & NCD data')}}</a>
                    </h5>
                </div>
                <div class="col-12 col-sm-6 col-md-8">
                    <p>
                        {{ _('A regional data warehouse holding communicable and non-communicable disease data at the national level.') }}
                    </p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-2 col-md-1 text-center">
                    <div class="field-content">
                        <a href="http://idsr.afro.who.int/dhis-web-commons/security/login.action"
                            target="_blank"
                            rel="noopener noreferrer">
                            <img loading="lazy" src="/images/source-icons/dhis2.png" alt="DHIS2 logo" />
                        </a>
                    </div>
                </div>
                <div class="col-9 col-sm-4 col-md-3">
                    <span class="field-content">
                    <h5>
                        <a href="http://idsr.afro.who.int/dhis-web-commons/security/login.action"
                            target="_blank"
                            rel="noopener noreferrer">{{ _('WHO African Region IDSR')}}</a>
                    </h5>
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-md-8">
                    <p class="field-content">
                        {{ _('A data warehouse that draws together priority disease data at the district level from various disease surveillance and response systems accross the region.') }}
                    </p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-2 col-md-1 text-center">
                    <div class="field-content">
                        <a href="https://extranet.who.int/dhis2/dhis-web-commons/security/login.action"
                            target="_blank"
                            rel="noopener noreferrer">
                            <img loading="lazy" src="/images/source-icons/dhis2.png" alt="DHIS2 logo" />
                        </a>
                    </div>
                </div>
                <div class="col-9 col-sm-4 col-md-3">
                    <span class="field-content">
                    <h5>
                        <a href="https://extranet.who.int/dhis2/dhis-web-commons/security/login.action"
                            target="_blank"
                            rel="noopener noreferrer">{{ _('WHO Malaria Data')}}</a>
                    </h5>
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-md-8">
                    <p class="field-content">
                        {{ _('The World Malaria Report which provides national data on trends in malaria control and elimination.') }}
                    </p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-2 col-md-1 text-center">
                    <div class="field-content">
                        <a href="https://aho.afro.who.int/af"
                            target="_blank"
                            rel="noopener noreferrer">
                            <img loading="lazy" src="/images/source-icons/iaho.png" alt="iAHO logo" />
                        </a>
                    </div>
                </div>
                <div class="col-9 col-sm-4 col-md-3">
                    <span class="field-content">
                    <h5>
                        <a href="https://aho.afro.who.int/af"
                            target="_blank"
                            rel="noopener noreferrer">{{_('Integrated African Health Observatory (iAHO)')}}</a>
                    </h5>
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-md-8">
                    <p class="field-content">
                        {{ _('A regional health knowledge and information sharing platform.') }}
                    </p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-2 col-md-1 text-center">
                    <div class="field-content">
                        <a href="https://www.amrcountryprogress.org/"
                            target="_blank"
                            rel="noopener noreferrer">
                            <img loading="lazy"
                                src="/images/source-icons/website.png"
                                alt="website icon" />
                        </a>
                    </div>
                </div>
                <div class="col-9 col-sm-4 col-md-3">
                    <span class="field-content">
                    <h5>
                        <a href="https://www.amrcountryprogress.org/"
                            target="_blank"
                            rel="noopener noreferrer">{{ _('Tripartite AMR Country Self-Assessment Survey (TrACSS)')}}</a>
                    </h5>
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-md-8">
                    <p class="field-content">
                        {{ _('A survey tool developed by the Tripartite (FAO, OIE, WHO) to assess the capacity of countries to address antimicrobial resistance.') }}
                    </p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-2 col-md-1 text-center">
                    <div class="field-content">
                        <a href="https://www.amrcountryprogress.org/"
                            target="_blank"
                            rel="noopener noreferrer">
                            <img loading="lazy" src="/images/source-icons/glass.svg" alt="website icon" />
                        </a>
                    </div>
                </div>
                <div class="col-9 col-sm-4 col-md-3">
                    <span class="field-content">
                    <h5>
                        <a href="https://www.amrcountryprogress.org/"
                            target="_blank"
                            rel="noopener noreferrer">{{ _('Global Antimicrobial Resistance & Use Surveillance System (GLASS)')}}</a>
                    </h5>
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-md-8">
                    <p class="field-content">
                        {{ _('Official national data on antimicrobial resistance and antimicrobial use in human health') }}
                    </p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-2 col-md-1 text-center">
                    <div class="field-content">
                        <a href="https://data.who.int/"
                            target="_blank"
                            rel="noopener noreferrer">
                            <img loading="lazy" src="/images/source-icons/who.png" alt="website icon" />
                        </a>
                    </div>
                </div>
                <div class="col-9 col-sm-4 col-md-3">
                    <span class="field-content">
                    <h5>
                        <a href="https://data.who.int/"
                            target="_blank"
                            rel="noopener noreferrer">{{_('WHO Global Health Data Hub')}}</a>
                    </h5>
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-md-8">
                    <p class="field-content">
                        {{ _('WHO global data health repository with health-related statistics from all member states') }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
