<div class="about">
{% trans %}
<p>This is a Beta-version of the WHO AFRO Regional Health Data Hub.</p>
<ul>
<li><strong>The programmatic purpose</strong> of the Data Hub is to provide integrated programmatic and advocacy data and related information, serving as an integrated data system that aims to harmonize all data systems and platforms across the WHO AFRO teams<sup>[1]</sup> and 47 countries in the Africa Region, including those on malaria, HIV, chronic diseases, maternal and child health, sexual reproductive health, diseases affecting women, and other health-related data.</li>
<li><strong>As part of WHO's overarching mission</strong>, the regional Data Hub will use data to contribute to improved health outcomes for people living in 47 member countries. It will identify and address issues that improve health programming and health inequalities. </li>
<li><strong>The key output of the regional Data Hub</strong> is the creation of data sets and products specifically related to the health priorities, concerns, and emerging trends of different epidemics and related responses in the region. These data sets and products enable context driven data analysis, with varying formats and levels of complexity, intended to meet specific data needs by different users. These products add value to the existing data and information products already available, as well as demonstrate the culture of data use and/or lead the way of contextualised analysis.</li>
</ul>
<hr/>
<p><sup>[1]</sup> WHO AFRO teams: Assistant regional director’s office, Antimicrobial resistance, Data Analytics and Knowledge Management, Diagnostics and Laboratory Services, Research, Development, Science, Innovation and Digital Health and Service Delivery/Primary Health Care.</p>
{% endtrans %}
</div>
