            {% set stats = h.get_datahub_stats() %}
            <h2>{{_('Insights')}}</h2>
            <h3>{{ _('Triple billion progress') }}</h3>
            <div class="row insight-row col-lg-12 col-sm-12 col-xs-12">
               <div class="insight-square col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <p><a href="#">{{ _('Healthier populations') }} <span>&rarr;</span></a></p>
                   <div class="insight-img-container">
                        <img
                            src="/images/insight_img_1.png"
                            alt="image"
                        />
                   </div>
                </div>

               <div class="insight-square col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <p><a href="#">{{ _('Universal health coverage') }} <span>&rarr;</span></a></p>
                   <div class="insight-img-container">
                        <img
                            src="/images/insight_img_2.png"
                            alt="image"
                        />
                   </div>
                </div>

               <div class="insight-square col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <p><a href="#">{{ _('Health emergencies protection') }} <span>&rarr;</span></a></p>
                   <div class="insight-img-container">
                        <img
                            src="/images/insight_img_3.png"
                            alt="image"
                        />
                   </div>
                </div>
            </div>

            <div class="row insight-row col-lg-12 col-sm-12 col-xs-12">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <h3>{{ _('Indicators') }}</h3>
                    <div class="insight-rect">
                        <p><a href="#"><span>{{ _('Under-five mortality rate') }}</span> <span>{{ _('(per 1000 live births)') }}</span><span>&rarr;</span></a></p>
                        <img
                            src="/images/insight_img_4.png"
                            alt="image"
                        />
                    </div>
                </div>

                <div class="data-hub-stats col-lg-6 col-sm-12 col-xs-12">
                    <h3>{{ _('Data hub stats') }}</h3>
                    <div class="row">
                        <div class="insight-small-rect col-lg-6 col-sm-6 col-xs-12">
                            <p>{{ _('Total datasets') }}</p>
                            <div class="number">
                                <span>{{ stats['dataset_count'] }}</span>
                            </div>

                        </div>
                        <div class="insight-small-rect col-lg-6 col-sm-6 col-xs-12">
                            <p>{{ _('Updated this week') }}</p>
                            <div class="number">
                                <span>{{ stats['active_datasets_updated_for_current_week'] }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="insight-small-rect col-lg-6 col-sm-6 col-xs-12">
                            <p>{{ _('Users') }}</p>
                            <div class="number">
                                <span>{{ stats['active_users'] }}</span>
                            </div>

                        </div>
                        <div class="insight-small-rect col-lg-6 col-sm-6 col-xs-12">
                            <p>{{ _('Teams') }}</p>
                            <div class="number">
                                <span>{{ stats['organization_count'] }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="insight-small-rect col-lg-6 col-sm-6 col-xs-12">
                            <p>{{ _('Programmes') }}</p>
                            <div class="number">
                                <span>{{ stats['programmes'] }}</span>
                            </div>

                        </div>
                        <div class="insight-small-rect col-lg-6 col-sm-6 col-xs-12">
                            <p>{{ _('Countries') }}</p>
                            <div class="number">
                                <span>{{ stats['countries'] }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
