{% set tags = h.get_facet_items_dict('tags', c.search_facets, limit=3) %}
{% set placeholder = _('E.g. environment') %}
{% set stats = h.get_site_statistics() %}

<div class="promoted promoted-home col-xs-12 col-sm-12 col-lg-12" >
    <div class="promoted-container row">
        <div class="promoted-left col-lg-5 col-xs-12 col-sm-12">
            <div class="promoted-left-text">
                <p class="subtitle">
                    <img
                        src="/images/august-14/rhdh-logo-white.svg"
                        alt="{{ _('Regional Health Data Hub') }}"
                    />
                </p>
                <h1 class="headline">{{_('A regional ecosystem for health and health-related data')}}</h1>
                <p class="description">
                    {{_('This regional health data hub is a platform to store datasets and share information with internal and external partners. Our goal is to establish a source of truth to enable staff, researchers and the public to access relevant data quickly.')}}
                    <a href="{{ h.url_for('home.about') }}">{{ _('Learn more') }}</a>
                </p>
            </div>
        </div>
        <div class="separator col-lg-1 d-none d-lg-block">
        </div>
        <div class="promoted-goals row">
            <div class="col-lg-4 col-xs-12 col-sm-12">
                <div id="UniversalHealthCoverage" class="goal-container">
                    <div>
                        <a href="#" class="description"><i class="fa-solid fa-globe"></i> {{ _('Universal Health Coverage') }} <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-sm-12">
                <div id="HealthSecurity" class="goal-container">
                    <div>
                        <a href="#" class="description"><i class="fa-solid fa-shield-heart"></i> {{ _('Health Security') }} <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-sm-12">
                <div id="HealthierPopulations" class="goal-container">
                    <div>
                        <a href="#" class="description"><i class="fa-solid fa-users"></i> {{ _('Healthier Populations') }} <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="promoted-container row">
        <div class="promoted-quick-access col-lg-6 col-xs-12 col-sm-12">
            <h1 class="headline">{{ _('Find and share critical') }} <br> {{ _('health data, fast.') }}</h1>
            <ul class="quick-access-links">
                <li><a href="#"><i class="fa-solid fa-earth-africa"></i> {{ _('Countries') }} <img src="/images/august-14/who-arrow-right-green.svg"/></a></li>
                <li><a href="#"><i class="fa-solid fa-gauge"></i> {{ _('Indicators') }} <img src="/images/august-14/who-arrow-right-green.svg"/></a></li>
                <li><a href="#"><i class="fa-solid fa-chart-column"></i> {{ _('Data sources') }} <img src="/images/august-14/who-arrow-right-green.svg"/></a></li>
            </ul>
        </div>
    </div>
</div>
