<div role="main">
    <div class="main hero">
        <div class="promoted-background">
            {% snippet 'home/snippets/promoted_plus.html' %}

            <div class="container">
                {% block promoted %}
                    {% snippet 'home/snippets/promoted.html' %}
                {% endblock %}
            </div>
        </div>
    <div class="insights featured">
        <div class="container">
        {% snippet 'home/snippets/featured.html' %}
        </div>
    </div>
</div>
