{% extends "user/account/base.html" %}


{% block subtitle %}{{ user.name }} {{ g.template_title_delimiter }} {{ _('Users') }}{% endblock %}


{% block details %}
  <article class="module">
      <header class="module-content page-header hug">
      <ul class="nav nav-tabs">
          {{ h.build_nav_icon('account.index', _('Newsfeed')) }}
          {{ h.build_nav_icon('dashboard.datasets', _('My datasets')) }}
          {{ h.build_nav_icon('dashboard.organizations', _('My organizations')) }}
          {{ h.build_nav_icon('account.activity', _('My activity')) }}
      </ul>
      </header>
    <div class="module-content">
        <div class="page_primary_action">
            {% snippet 'snippets/stream.html', activity_stream=activity_stream, id=user.id, object_type='user' %}
            {% snippet 'snippets/pagination.html', newer_activities_url=newer_activities_url, older_activities_url=older_activities_url %}
        </div>
    </div>
  </article>
{% endblock %}