{% extends "user/account/base.html" %}

{% set user = h.get_user_obj() %}
{% set dataset_type = h.default_package_type() %}
{% set org_type = h.default_group_type('organization') %}
{% set group_type = h.default_group_type('group') %}

{% block subtitle %}{{ user.name }} {{ g.template_title_delimiter }} {{ _('Users') }}{% endblock %}


{% block details %}
  <article class="module">
      <header class="module-content page-header hug">
      <ul class="nav nav-tabs">
          {{ h.build_nav_icon('dashboard.datasets', h.humanize_entity_type('package', dataset_type, 'my label') or _('My Datasets'), icon='sitemap') }}
          {{ h.build_nav_icon('dashboard.organizations', h.humanize_entity_type('organization', org_type, 'my label') or _('My Organizations'), icon='building') }}
          {{ h.build_nav_icon('dashboard.groups', h.humanize_entity_type('group', group_type, 'my label') or _('My Groups'), icon='users') }}
      </ul>
      </header>
    <div class="module-content">
        <div class="page_primary_action">
        </div>
    </div>
  </article>
{% endblock %}