{% extends "page.html" %}

{% set user = h.get_user_obj() %}
{% set dataset_type = h.default_package_type() %}
{% set org_type = h.default_group_type('organization') %}
{% set group_type = h.default_group_type('group') %}

{% block breadcrumb %}
    {% if self.breadcrumb_content() | trim %}
      <ol class="profile-page breadcrumb">
        {% snippet 'snippets/home_breadcrumb_item.html' %}
        {% block breadcrumb_content %}
          <li class="active"><a>{{ _('My account') }}</a></li>
        {% endblock %}
      </ol>
    {% endif %}
{% endblock %}

{% block maintag %}
<style>
  .secondary {
    content: none;
    display: none;
  }

  .wrapper .primary {
    width: 100%;
    border: 0;
  }

  .wrapper:before {
    border-right: 0;
  }

  .wrapper {
      box-shadow: none;
      border: 0;
  }

  .upper-content {
    margin-top: 64px;
    margin-bottom: 48px;
    padding: 32px;
    background-color: var(--who-blue-ten-percent);
    border-radius: 4px 0 0 0;
  }
  .no-padding {
      padding: 0;
  }
  .user-basic-info {
      padding: 0;
      width: 100%;
  }
  .profile-left-info {
      list-style-type: none;
      padding: 0;
      display: flex;
      width: 100%;

  }
  .profile-info {
      padding-left: 20px;
  }
  .profile-info p:first-child {
        font-size: 28px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.01em;
        text-align: left;
        color: var(--primary-navy);
  }
  .profile-pic {
      width: 64px;
      height: 64px;
      border-radius: 2px 0 0 0;
      border: white thin solid;
  }
  .profile-info {
      height: 64px;
  }
  .profile-info div p, .profile-info div ul {
      margin: 4px;
  }
  ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      color: var(--primary-navy);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      margin-bottom: 0;
  }

  .profile-left-info-details li:not(:first-child)::before {
      content: '|';
      color: var(--who-blue-65-percent);
      margin-left: 16px;
      margin-right: 16px;
  }
  .right-content {
      width: 50%;
  }
  .right-content ul {
      justify-content: flex-end;
  }
  .right-content ul li:nth-child(1) {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-right: 19px;
  }
  .right-content ul li a {
      font-weight: 700;
  }
  .right-content ul li:nth-child(2) {
      border: var(--primary-navy) thin solid;
      border-radius: 4px;
      padding: 12px 16px;
      cursor: pointer;
  }

  .right-content .logout-btn,
  .right-content .logout-btn:hover {
      text-decoration: none;
      cursor: pointer;
  }
  .page-header {
      background-color: white;
  }
  header,
  header ul.nav.nav-tabs {
      width: 100%;
  }
  header ul.nav.nav-tabs li:first-child {
      width: 25%;
  }
  header ul.nav.nav-tabs li:not(:first-child) {
      width: 24.3%;
      margin-left: 0.7%;
  }
  .module-content {
      padding: 0;
  }
  .page-header .nav-tabs li.active a, .page-header .nav-tabs a:hover {
      border: var(--who-blue-65-percent) thin solid;
      border-bottom-color: transparent;
  }
  .nav-tabs .nav-link, .page-header .nav-tabs li a,
  .nav-tabs .nav-link, .page-header .nav-tabs li a:hover {
      background-color: var(--who-blue-ten-percent);
  }
  .nav-tabs,
  .nav-tabs .nav-link, .page-header .nav-tabs li a {
      border-bottom-color: var(--who-blue-65-percent);
  }
  .nav.nav-tabs li a {
      color: var(--primary-navy);
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
  }
  .module > .module-content:nth-child(2n) {
      padding-top: 0;
  }
  .page_primary_action {
      border: var(--who-blue-65-percent) thin solid;
      padding: 36px 32px;
      border-top-color: transparent;
  }
  .page_primary_action ul {
      display: block;
  }
  .page_primary_action ul li {
      margin-bottom: 300px;
  }
  .page_primary_action ul li span a{
      z-index: -1;
  }
  .wrapper:before {
      content: inherit;
  }
  .details-top-label {
      margin-top: 38px;
      margin-bottom: 18px;
      color: var(--primary-navy);
  }
  .details-top-label span.left {
        font-size: 28px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.01em;
        text-align: left;
  }
  .details-top-label span.right {
        float: right;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        padding: 12px 16px;
        border-radius: 4px;
        border: var(--primary-navy) thin solid;
  }
  .details-top-label span.right span:first-child {
        font-weight: 700;
  }

  * {
 /*border: turquoise solid thin;*/
  }
</style>
<div class="my-account-main main col-md-12">
{% endblock %}

{% block primary_content %}
    <div class="upper-content">
        {% block profile %}
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="user-basic-info">
                        <ul class="profile-left-info">
                            <li class="profile-pic">{{ h.user_image(user.id, size=64) }}</li>
                            <li class="profile-info">
                                <div>
                                    <p>{{ _('Welcome') }} {{ user.name }}</p>
                                    <ul class="profile-left-info-details no-padding">
                                        <li>{{ user.fullname }}</li>
                                        <li>{{ user.email }}</li>
                                        <li><a href="{{ h.url_for('user.read', id=user.name) }}" style="font-weight: 700">{{ _('View / edit profile') }}</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 right-content">
                    <ul>
                        <li><a href="#" style="text-decoration: underline;padding-right: 24px;">System admin settings</a></li>
                        <li><a href="{{ h.url_for('user.logout') }}" class="logout-btn">Log out</a></li>
                    </ul>
                </div>

            </div>
        {% endblock %}
    </div>
    <div class="lower-content">
    {% block details %}
    {% endblock %}
    </div>

{% endblock %}
