.hero-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.hero-bg.top-right {
    position: absolute;
    top: 0;
    left: calc(50%);
    width: 681px;
    height: 789px;
    background-image: url('/images/august-14/hero-bg-top-right.svg');
}

.hero-bg.center-left {
    position: absolute;
    top: 800px;
    left: 0px;
    width: 1029px;
    height: 866px;
    background-image: url('/images/august-14/hero-bg-center-left.svg');
    background-repeat: no-repeat;
}

.hero-bg.bottom-right {
    position: absolute;
    bottom: -103px;
    width: 1160px;
    height: 672px;
    background-image: url('/images/august-14/hero-bg-bottom-right.svg');
    background-repeat: no-repeat;
}

@media (max-width: 3000px) {
    .hero-bg.bottom-right {
        left: calc(100% - 475px);
    }
}

@media (max-width: 1600px) {
    .hero-bg.bottom-right {
        left: calc(100% - 525px);
    }
}

@media (max-width: 1440px) {
    .hero-bg.bottom-right {
        left: calc(100% - 475px);
    }
}

@media (max-width: 992px) {
    .hero-bg.center-left,
    .hero-bg.bottom-right {
        display: none;
    }
}

.hero-bg.toolbar{
    position: absolute;
    top: calc(50% - 540px);
    right: -650px;
    width: 1920px;
    height: 1080px;
    background-image: url(/images/august-14/DH-DataMerge-Graphic.svg);
    background-repeat: no-repeat;
}
