.plus {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.plus::before, .plus::after {
    content: '';
    position: absolute;
    background-color: var(--secondary-who-blue);
}

.plus::before {
    width: 100%;
    height: 1px;
}

.plus::after {
    width: 1px;
    height: 100%;
}

.plus-top-left {
    position: absolute;
    top: 35px;
    left: -20px;
    width: 120px;
    height: 120px;
}

.plus-bottom-left {
    position: absolute;
    top: 300px;
    left: -80px;
    width: 492px;
    height: 492px;
}


@media (max-width: 1600px) {
    .plus-bottom-left {
        left: calc(0% - 120px);
    }
}

@media (max-width: 1430px) {
    .plus-bottom-left {
        left: calc(0% - 170px);
    }
}


@media (max-width: 1320px) {
    .plus-bottom-left {
        left: calc(0% - 70px);
    }
}


.plus-top-right {
    position: absolute;
    top: 35px;
    left: calc(95%);
    width: 120px;
    height: 120px;
}

.plus-bottom-right {
    position: absolute;
    top: 211px;
    width: 236px;
    height: 236px;
}

@media (max-width: 3000px) {
    .plus-bottom-right {
        left: calc(100% - 200px);
    }
}

@media (max-width: 1600px) {
    .plus-bottom-right {
        left: calc(100% - 250px);
    }
}

@media (max-width: 1440px) {
    .plus-bottom-right {
        left: calc(100% - 200px);
    }
}


@media (max-width: 1280px) {
    .plus-bottom-right {
        left: calc(100% - 150px);
    }
}

.number {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 5px;
}
