/* user profile styles */

.module-content {
    padding: 38px 32px;
}

.page-heading {
      margin-top: 32px;
      margin-bottom: 32px !important;
      color: var(--primary-navy);
  }

.page-heading small.text-muted.fs-5 {
    color: var(--primary-navy) !important;
    font-size: 28px !important;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-align: left;
}

#followee-popover {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 12px 16px;
    border-radius: 4px;
    border: var(--primary-navy) thin solid;
    color: var(--primary-navy);
    background: white;
  }

#followee-popover span:first-child {
    font-weight: 700;
}

#followee-popover strong {
    font-weight: 400;
}

/* top content */

.upper-content {
    margin-top: 64px;
    margin-bottom: 48px;
    padding: 32px;
    background-color: var(--who-blue-ten-percent);
    border-radius: 4px 0 0 0;
}
.no-padding {
    padding: 0;
}
.user-basic-info {
    padding: 0;
    width: 100%;
}
.profile-left-info {
    list-style-type: none;
    padding: 0;
    display: flex;
    width: 100%;
}
.profile-info {
    padding-left: 20px;
}
.profile-info p:first-child {
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-align: left;
    color: var(--primary-navy);
}
.profile-pic {
  width: 64px;
  height: 64px;
  border-radius: 2px 0 0 0;
  border: white thin solid;
}
.profile-info {
  height: 64px;
}
.profile-info div p, .profile-info div ul {
  margin: 4px;
}

.right-content {
    padding-right: 12px;
    padding-left: 0;
}

.upper-content ul {
    list-style-type: none;
}

@media only screen and (max-width: 767px) {
    .right-content .logout-btn {
        max-width: 40%;
    }
    .right-content {
       margin-top: 48px;
    }
    .right-content ul {
        padding-left: 87px;
    }
    .profile-left-info-details {
      justify-content: flex-start;
    }
    .left-content {
        padding-left: 0;
    }

    .profile-left-info-details {
      justify-content: flex-end;
    }
    .profile-left-info {
      list-style-type: none;
    }
    .user-dashboard-main h2.page-heading.mb-4,
    .dashboard-organisation-main h2.page-heading.mb-4{
        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    .profile-left-info-details {
      justify-content: flex-end;
    }
    .profile-left-info-details li:not(:first-child)::before {
      content: '|';
      color: var(--who-blue-65-percent);
      margin-left: 16px;
      margin-right: 16px;
    }
    .upper-content ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      color: var(--primary-navy);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      margin-bottom: 0;
    }

    .right-content ul {
        justify-content: flex-end;
    }

}


.right-content .sysadmin-item a {
    padding-right: 0;
    text-decoration: underline;
}
.right-content ul li:nth-child(1) {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 19px;
}
.right-content ul li a {
  font-weight: 700;
}
.right-content ul li:nth-child(2) {
  border: var(--primary-navy) thin solid;
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
}

.right-content .logout-btn {
  text-decoration: none;
  cursor: pointer;
}

.right-content .logout-btn:hover {
    text-decoration: none;
    background: var(--who-blue-65-percent);
}

.right-content .logout-btn a {
    text-decoration: none;
}

/* tabs */
.secondary {
    content: none;
    display: none;
}

.wrapper .primary {
    width: 100%;
    border: 0;
}

.wrapper:before {
    border-right: 0;
}

.wrapper {
    box-shadow: none;
    border: 0;
}

.page-header {
    background-color: white;
}

div.module-content {
    border: var(--who-blue-65-percent) thin solid;
    border-top: none;
}

header,
header ul.nav.nav-tabs {
    width: calc(100% + 1px);
}

header ul.nav.nav-tabs li:first-child {
    width: 25%;
}

header ul.nav.nav-tabs li:not(:first-child) {
    width: 24.3%;
    margin-left: 0.7%;
}

header ul.nav.nav-tabs li:last-child {
    width: 24.3%;
    margin-left: 0.7%;
}

.page-header .nav-tabs li.active a, .page-header .nav-tabs a:hover {
    border: var(--who-blue-65-percent) thin solid;
    border-bottom-color: transparent;
}

.nav-tabs .nav-link, .page-header .nav-tabs li a,
.nav-tabs .nav-link, .page-header .nav-tabs li a:hover {
    background-color: var(--who-blue-ten-percent);
}

.nav-tabs,
.nav-tabs .nav-link, .page-header .nav-tabs li a {
    border-bottom-color: var(--who-blue-65-percent);
}

.nav.nav-tabs li a {
    color: var(--primary-navy);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}

@media only screen and (max-width: 510px) {
    header ul.nav.nav-tabs li,
    header ul.nav.nav-tabs li:first-child,
    header ul.nav.nav-tabs li:not(:first-child),
    header ul.nav.nav-tabs li:last-child {
        width: 100%;
    }
    header ul.nav.nav-tabs li:first-child {
        margin-left: 4px;
    }
    .nav.nav-tabs li a {
        text-align: left;
    }
    .dashboard-add-team-btn {
        width: 100% !important;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .user-dashboard-main .pull-right {
        float: none;
        width: 100%;
    }
    .user-dashboard-main #followee-popover {
        width: 100%;
    }
    .user-dashboard-main small.text-muted.fs-5 {
        text-align: center;
    }
}


.page-header.module-content {
    padding: 0;
    width: 100%;
}

.dashboard-organisation-main article.module,
.user-dashboard-main article.module{
    padding: 0;
    margin-bottom: 115px;
}

.media-grid .media-heading {
    margin: 8px 0 0;
}

.dashboard-organisation-main .media-grid {
    margin-bottom: 32px;
}

.show-all-org,
.show-all-org:hover,
.show-all-pkg,
.show-all-pkg:hover {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: underline;
}


