/* This file overwrites css from the base ckan theme */

:root {
    --primary-navy: #00205C;
    --secondary-who-blue: #008dc9;
    --account-masthead-height: 32px;
    --masthead-menu-padding-top: -3px;
    --who-blue-ten-percent: #DDEFF9;
    --neutral-light-grey: #E6E7E8;
}

a {
  color: var(--primary-navy);
}

a:hover {
  color: var(--primary-navy);
  text-decoration: underline;
}

.text-primary {
  color: #008dc9;
}

.bg-primary {
  background-color: #008dc9;
}

.btn-primary {
  background-color: #008dc9;
}

fieldset[disabled] .btn-primary.focus {
  background-color: #008dc9;
}

.btn-primary .badge {
  color: #008dc9;
}

.btn-link {
  color: #008dc9;
}

.dropdown-menu > .active > a:focus {
  background-color: var(--secondary-who-blue);
}

.nav .open > a:focus {
  border-color: #008dc9;
}

.nav-pills > li.active > a:focus {
  background-color: #008dc9;
}

.pagination > li > span {
  color: #008dc9;
}

.pagination > .active > span:focus {
  background-color: #008dc9;
  border-color: #008dc9;
}

.label-primary {
  background-color: #008dc9;
}

.nav-pills > .active > a > .badge {
  color: #008dc9;
}

a.thumbnail.active {
  border-color: #008dc9;
}

.progress-bar {
  background-color: #008dc9;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #008dc9;
  border-color: #008dc9;
}

.panel-primary {
  border-color: #008dc9;
}

.panel-primary > .panel-heading {
  background-color: #008dc9;
  border-color: #008dc9;
}

.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #008dc9;
}
.panel-primary > .panel-heading .badge {
  color: #008dc9;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #008dc9;
}

.banner {
  background-color: #008dc9;
}

.media-view:hover,
.media-view.hovered {
  border-color: #008dc9;
}

.media-view:hover .banner,
.media-view.hovered .banner {
  background-color: #008dc9;
}

.editor .editor-info-block a {
  color: #008dc9;
}

.resource-list.reordering .resource-item.ui-sortable-helper {
  border: 1px solid #008dc9;
}
.resource-list.reordering .resource-item.ui-sortable-helper .handle {
  border-color: #008dc9;
}

.view-list li a.active,
.view-list li a:hover {
  border-color: #008dc9;
}

.view-list li a.active .icon,
.view-list li a:hover .icon {
  background-color: #008dc9;
}

.view-list li .arrow {
  border-top-color: #008dc9;
}

.view-list li.active a {
  border-color: #008dc9;
}
.view-list li.active a .icon {
  background-color: #008dc9;
}

.view-list.stacked::-webkit-scrollbar-thumb:hover {
  background-color: #008dc9;
}

.homepage .module-search .module-content {
  background-color: #008dc9;
}

.masthead {
  background: #008dc9 url("../../../base/images/bg.png");
}

.site-footer {
  background: #008dc9 url("../../../base/images/bg.png");
}

.popover-followee .nav li a i {
  background-color: #008dc9;
}

.popover-followee .nav li.active a i {
  color: #008dc9;
}

.resource-view-list.reordering li.ui-sortable-helper {
  border: 1px solid #008dc9;
}

.resource-view-list.reordering li.ui-sortable-helper .handle {
  border-color: #008dc9;
}

body {
  background: #008dc9 url("../../../base/images/bg.png");
}

@media (max-width: 991px) {
.site-search {
    display: none;
  }
}

body {
    background: #fff;
    font-family: 'Source Sans 3 VF', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

H1.headline {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
}

H1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

H2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
}

H3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

body{
    font-size: 14px;
    line-height: 20px;
}

p.small {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}


@media only screen and (min-width: 992px) {
    H1.headline {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.03em;
    }

    H1 {
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.02em;
    }

    H2 {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.01em;
    }

    H3 {
        font-size: 18px;
        line-height: 24px;
    }

    body{
        font-size: 16px;
        line-height: 24px;
    }

    p.small {
        font-size: 14px;
        line-height: 20px;
    }

}
/* helpers */
.inline-block {
    display: inline-block !important;
}


/* remove bar & replace with padding */
.homepage [role=main] {
    padding: 0;
}

.promoted-background {
    width: 100%;
    background-color: var(--primary-navy);
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
}

.promoted-container {
    background-color: var(--primary-navy);
    position: relative;
    z-index: 2;
}

#NavbarBrandingContainer {
    position:absolute;
    top:5px;
    left:0px;
}

#NavbarLogo {
    display:  inline-block;
    height: 64px;
    padding-right: 19px;
}

#LogoBorder {
   display:  inline-block;
}

#NavbarHeadingContainer {
    line-height: 20px;
    font-weight: 700;
    font-size: 14px;
    color: #008dc9;
    margin:  10px;
    display:  inline-block;
    vertical-align:  middle;
}


#NavbarHeadingContainer H1 {
    font-weight: normal;
    letter-spacing: 0.00em;
}

#NavbarHeadingContainer .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: var(--primary-navy);
}

#NavbarHeadingContainer .subtitle {
    font-size: 14px;
    color: #212121;
}

@media only screen and (min-width: 992px){
    .masthead .navbar-collapse{
        padding-top: var(--masthead-menu-padding-top);
        display: flex !important;
    }
}

.masthead .navbar{
    margin-bottom: 0px;
    min-height: 80px;
}

.navbar-nav{
    margin: 0px;
}

.navbar-light .navbar-toggler {
    background: #008dc9;
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    position:absolute;
    top:25px;
    right: 0px;
}

.masthead .main-navbar .navbar-nav > li > a
{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: var(--primary-navy);
    flex: none;
    order: 1;
    flex-grow: 0;
    background-color: transparent;
    padding: 10px 0px;
    margin-left: 30px;


}

.masthead .main-navbar .navbar-nav li a:hover,
.masthead .main-navbar .navbar-nav li a:focus,
.masthead .main-navbar .navbar-nav li.active a,
.masthead .main-navbar ul li:hover a,
.masthead .main-navbar ul li:focus a,
.masthead .main-navbar ul li.active a
{
    color: #d86422;
    background-color: transparent;

}

.masthead .site-search {
    margin: 5px 0px 5px 30px;
}

.masthead .site-search input {
    width: 180px;
    height: 40px;
    padding: 10px 14px;
}

.site-search .btn-search .fa-search {
    color: #008dc9;
    font-size: 20px;
    position:  absolute;
    top: 0px;
    right: 2px;
}

.fluid-white-bar {
    background-color: white;
    height: 80px;
    border-bottom: solid 5px #008dc9;
}

.account-masthead {
  height: var(--account-masthead-height);
  background: var(--primary-navy) ;
}

.account-masthead .account ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #fff;
    padding-right: 12px;
    margin-left:  15px;
    line-height: var(--account-masthead-height);
}

.account-masthead .account ul li a[selected="selected"] {
    background-color: var(--secondary-who-blue);
}

.account-masthead .account ul li:hover a[selected="selected"]:hover {
    background-color: var(--secondary-who-blue);
}

.account-masthead .account ul li:hover a:hover{
    color: #fff1e9;
    background-color: transparent;
}

.account-masthead .account ul li {
  border-left: none;
}

.account-masthead .account.authed .image img {
    border-radius: 4px;
    border: 2px solid #fff;
}

.account-masthead .account .notifications a span.badge {
    background: #fff1e9;
    color: #d86422;
}

.promoted, .promoted-home {
    font-style: normal;
    font-size:  18px;
}

.promoted-container {
    margin: 64px 0 0;
}

.promoted .container {
    padding-top: 64px;
    padding-bottom: 64px;
}

.promoted-left {
    margin-top: 63px;
}

.promoted-right {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 32px;
    background-color: var(--who-blue-ten-percent);
    border-radius: 8px;
    padding-left: 32px;
    padding-right: 32px;
}

@media only screen and (min-width: 992px) {
    .promoted-home {
        min-height: 556px;
    }
    .promoted-right {
        min-height: 428px;
    }
}

.promoted h1{
    font-weight: 700;
    letter-spacing: -0.03em;
    margin: 15px 0px;
}

.promoted h2 {
    font-weight: 700;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.promoted .subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--who-blue-ten-percent);
    margin-bottom:  15px;
}

.promoted .big-search-form {
    margin: 0;
}

.promoted .search-form {
    border-bottom: none;
    width: 100%;
    margin-bottom: 0;
}

.promoted .big-search-form .lens-btn, .promoted .big-search-form .lens-btn:hover{
    border-color: var(--primary-navy) thin solid;
    height:  50px;
    background-color: var(--primary-navy) !important;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 0 8px 8px 0 !important;
}

.form-control:focus {
    border: var(--primary-navy) solid 1px;
    box-shadow: inset 1px 1px 1px rgba(0, 32, 92, 1),
                    1px 1px 1px rgba(0, 32, 92, 1);
}

.promoted .big-search-form .fa-search{
    font-size:  20px;
    color: #FFFFFF;
    margin-right: 2px;
}

.promoted .big-search-form .lens-btn span.search-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color:var(--neutral-light-grey);
}

.promoted .big-search-form input{
    height:  50px;
    border-color: #FFF;
}

.input-group-btn {
    text-align: center;
    border-radius: 0 10px 10px 0 !important;
    margin-bottom: 0;
}

.promoted .search-section {
    margin-top:28px;
}

.promoted-right h2:first-child, .promoted .search-section p:first-child {
    color: var(--primary-navy);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 4px;
}

.search-section div.search-options {
}

.search-options ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search-options ul li.criterion {
    display: inline-flex;
    align-items: center;
    margin-right: 12px;
    background-color: #FFFFFF;
    padding: 6px;
    height: 20px;
    border-radius: 4px;
    box-shadow: 0px 8px 24px 0px #0000000A;
}

.search-options ul li {
    display: inline-flex;
    align-items: center;
}

.search-options ul li.criterion a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--secondary-who-blue);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

.search-options ul li a {
    text-decoration: underline;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-navy);
    text-align: center;
}

.all-criteria {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-navy);
}

.search-form {
  padding-bottom: 0; /* to remove search form default padding */
}


.promoted a.small,
.promoted a.small:active,
.promoted a.small:hover ,
.promoted a.small:visited {
    color:#FFFFFF;
    padding-top: 0;
    text-decoration: underline;
    font-weight: 400;
    font-size: 15.64px;
    line-height: 19px;
}

.insights{
    min-height: 484px;
    background: var(--who-blue-ten-percent);
    padding: 64px 0px;
}

.insight-row, .data-hub-stats .row {
    --bs-gutter-x: 0;
}

.insights H2 {
    margin-bottom: 32px;
    margin-top: 0px;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    color: var(--primary-navy);

}

.insights H3 {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: var(--primary-navy);

}

.insight-square {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    min-height: 297px;
    margin-bottom: 48px;
}


.insight-square p, .insight-rect p span:first-child {
    color: var(--primary-navy);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.insight-rect p span:nth-child(2) {
    color: var(--primary-navy);
    font-weight: 700;
    font-size: 14px;
}

.insight-square p a span, .insight-rect p a span:last-child {
    float: right;
    color: var(--secondary-who-blue);
}

.insight-img-container {
    padding: 18px;
}

.insight-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.insight-rect img {
    object-fit: cover;
}

.insight-rect {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    height: 354px;
}

.insight-small-rect {
    background-color: white;
    padding: 19px;
    border-radius: 8px;
    min-height: 101px;
}

.data-hub-stats {
    margin-top: 48px;
    height: 374px;
}

.insight-small-rect p:first-child {
    color: var(--primary-navy);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

@media only screen and (min-width: 991px) {
    .data-hub-stats {
        margin-top: 0;
        margin-left: 24px;
        width: calc(50% - 24px);
        height: 374px;
    }
}

@media only screen and (min-width: 560px) {
    .insight-small-rect:last-child {
        margin-left: 24px;
        width: calc(50% - 24px);
    }
}

@media only screen and (max-width: 559px) {
    .data-hub-stats H3 {
        margin-top:24px;
    }
    .insight-small-rect:last-child {
        margin-top: 24px;
    }
    .insights .container {
        min-height: 1650px;
    }

}

.number-with-arrows span {
    color: var(--primary-navy);
    font-weight: 400;
    font-size: 36px;
}

.data-hub-stats .row {
    margin-bottom:  24px;
}

.insight-square:first-child {
    margin-right: 24px;
    width: calc(33.3% - 24px) ;
}
.insight-square:nth-child(2) {
    margin-right: 24px;
    width: calc(33.3% - 24px) ;
}
.insight-square:last-child {
    margin-right: 0;
    width: calc(33.3%);
}

.category-box {
    background: #FFFFFF;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    margin-bottom: 24px;
    padding:  20px;
    height:  110px;
}

.category-box .group-thumbnail {
    float:  left;
    display: inline-block;
    vertical-align: middle;
    max-height: 70px;
    margin-right: 20px;
}

.category-box .group-text {
    vertical-align: middle;
    width:  100%;
}
.category-box .group-text .title{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #008dc9;
}

.category-box .group-text .desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #212121;
    overflow:  hidden;
    height:  50px;
}

.category-box .btn-delete {
    background: transparent;
    color: #008dc9;
    font-size: 20px;
    padding: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.dataset-resources li{
    padding: 2px 6px;
    background: var(--who-blue-ten-percent);
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border:  none;
}

.dataset-resources li a.badge,
.dataset-resources li a.badge:hover{
    background-color:  transparent;
    color: var(--secondary-who-blue);
    padding:  0px;
}

a.tag,
a.tag:hover  {
    padding: 2px 6px;
    background: #fff1e9;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border:  none;
    color: #056839;
    box-shadow:  none;
}

.tag-list{
    background:  transparent;
    border:  none;
}

.recently-updated H2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    color: var(--primary-navy);
    letter-spacing: -0.01em;
    margin-bottom: 48px;
    margin-left: 0;
    margin-top: 64px;
}

.recently-updated H3 span:first-child {
    color: var(--primary-navy);
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;

}

.recently-updated H3 {
    margin-top: 48px;
    margin-bottom: 24px;
}

.recently-updated {
    padding-bottom:64px;
}

.dataset-content {
    margin-right: 24px;
    margin-bottom: 20px;
}

.dataset-item {
    list-style:  none;
}

.welcome-to-home > .dataset-item {
    list-style:  none;
    border: var(--primary-navy) solid 1px;
    border-radius: 8px;
    padding: 24px;
}

.dataset-content .dataset-heading{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--primary-navy);
    margin:  10px 0px;
}

.dataset-content .author {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #212121;
    margin-bottom: 0px;
}
.dataset-content .modified{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--primary-navy);
    margin-bottom: 12px;
}

.dataset-content div {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-navy);
    margin: 0;
}

.recently-updated .view-all-btn {

    padding: 6px 16px;
    height: 36px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--primary-navy);
    background: var(--who-blue-ten-percent);
    border-radius: 4px;
    float: right;
}

.recently-updated .view-all-btn:hover {
    text-decoration: none;
}

.dataset-resources.list-unstyled {
    padding-bottom: 24px;
}

.dataset-item:last-of-type {
    border-bottom: var(--primary-navy) solid 1px;
}

.subscribe {
    background-color: var(--primary-navy);
    height: 332px;
}

.subscribe .container {
    padding-top: 64px;
}

.subscribe .highlight-box {
    background: #19366c;
    border-radius: 4px;
    padding: 36px;
}

.subscribe h2 {
    color: #FFFFFF;
    margin-top: 0px;
}

.subscribe .subtext {
    color: #FFFFFF;
    margin-bottom: 24px;
}

.subscribe .register {
    height: 48px;
    color: var(--primary-navy);
    background: #EDE8E8;
    border-radius: 4px;
    display: inline-block;
    padding: 12px 16px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    width:  100%;
}


.subscribe .login{
    height: 48px;
    display: inline-block;
    font-weight: 700;
    color: #FFFFFF;
    padding: 12px 16px;
    width: 100%;
    text-align:  center;
}

.spacer{
    height:  64px;
}

@media only screen and (min-width: 767px) {
    .subscribe .login{
        text-align: left;
        padding-left: 20px;
    }
}

.highlight-box h2 {
    font-weight: 400;
}

.login a, .login a:hover {

    margin-left: 10px;
    color: #FFFFFF;
    text-decoration: underline;
}

@media only screen and (min-width: 992px) {
    .mobile-menu {
        display: none;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}

.mobile-menu .search-form {
    margin-top: 70px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 25px;
    border-bottom: none;
    border-top: 1px dashed #dddddd;
}

.site-footer {
    background-color: var(--primary-navy);
    width: 100%;
}

.site-footer .list-unstyled {
    width: 100%;
    display: block;
    position: relative;
    box-sizing: border-box;
}

.site-footer .list-unstyled li {
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-right: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.site-footer .list-unstyled li:last-child {
    position: absolute;
    right: 0;
    top: 0;
}


.footer-links img {
    width:  100%;
    margin-bottom: 30px;
}

.main, .homepage .hero {
    min-height: 80vh;
    padding-top: 32px;
    padding-bottom: 64px;
    background: #FFFFFF;
}

.homepage .main,
.homepage .hero,
.categories .main,
.categories .hero{
    padding: 0px;
}

.site-footer .desc {
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 0px;
}

.site-footer .desc a,
.site-footer .desc a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}


.site-footer .list-unstyled li a{
    color: #FFFFFF;
}

@media only screen and (min-width: 769px) {
    .site-footer .list-unstyled li {
        display: inline-block;
    }
}

.navbar-toggle {
    color: #008dc9;
}

.add-category{
    margin-bottom: 32px;
}


.toolbar .breadcrumb a {
    color: #505050;
}

.btn{
  padding:  10px 40px;
}

.btn-primary,
.btn-danger {
  background-color: #008dc9;
  border-color: #008dc9;
  color: #fff;

}


.btn-primary:hover,
.btn-danger:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus  {
  color: #fff;
  background-color: #d86422;
  border-color: #d86422;
}

.btn-xs{
    padding:  3px 7px;
}

#content{
    padding-left: 30px;
    padding-right: 30px;
}

.promoted-breadcrumbs .toolbar{
    height:  170px;
}

.promoted-breadcrumbs .breadcrumb li{
    margin: 5px 0px;
}

.promoted-breadcrumbs .toolbar .breadcrumb a{
    color: #FFF;

}

.promoted-breadcrumbs .toolbar .breadcrumb{
    position: absolute;
    bottom: 32px;
    font-size: 16px;
}

@media only screen and (min-width: 992px) {
    .promoted-breadcrumbs .toolbar .breadcrumb {
        font-size: 24px;
    }
}

.masthead {
  background: #FFFFFF;
}

.fluid-white-bar {
    height: 0;
    border-bottom: solid 0px #FFFFFF;
}


.list-unstyled {
  padding-bottom:0;
  margin: 0;
  list-style: none;
}


.dataset-heading a{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--primary-navy);
}

.add-to-group button{
    margin:  20px 0px;
}

.resource-item .resource-detail{
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #212121;
    margin-bottom: 0px;
}

.activity {
    background-position: 24px 0;
}

.dropdown-toggle:after{
    display:none;
}

.select2-container {
    border: none;
    box-shadow: none;
    padding: 7px 0px;
}

/* change URL: field to Username: */
#username-input-field .slug-preview strong {
    display: none;
}

/* make username input conform to form style */
#username-input-field .input-group {
    width: 100%;
}

#username-input-field .form-control {
    border-radius: 3px;
}

.additional-info .table{
    margin-bottom: 0.5rem;
}
.resource.additional-info .api-link{
    margin: -1.5rem 1.5rem 1rem 1.5rem;
}
.api-link{
    margin-bottom: 1rem;
}

.logs{
    background-color: #e7e7e7;
    font-family: 'Courier New', monospace;
    border: solid 1px #b5b5b5;
    border-radius: 5px;
    font-size: 10px;
    padding: 0px;
    margin-bottom: 20px;
}

.logs p{
    padding: 10px 20px;
    margin: 0px;
    display: block;
}

.logs p:hover{
    background-color: #f3f3f3;
    border-radius: 5px;
}

.logs-reload i{
    margin-right: 5px;
    color: #008dc9;
}

.module.automation{
    border-top: 1px dotted #DDD;
}

.module .automation-function{
    border-top: 1px dotted #DDD;
    margin-top: 20px;
    padding: 10px 0px;
}

.description {
    color: var(--who-blue-ten-percent);
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

p.learn-more a {
    font-size: 16px;
    color: var(--who-blue-ten-percent);
    text-decoration: underline;
    font-weight: 700;
}

.footer-search-section div h2 {
    font-size: 18px;
    color: white;
    line-height: 24px;
    font-weight: 700;
}

.footer-search-section .lens-btn {
    background-color: var(--who-blue-ten-percent);
}

.footer-search-section .search-label {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.footer-search-section {
    margin-bottom: 64px;
}

.recently-updated .container {
    margin-top: 64px;
}

.highlight-box .row div:first-child {
    max-width: 215px;
}

.highlight-box .row div:nth-child(2) {
    padding-left: 0;
}


