/* This file overwrites css from the base ckan theme */

:root {
    --primary-navy: #00205C;
    --secondary-who-blue: #008dc9;
    --who-blue-65-percent: #79B5E3;
    --account-masthead-height: 32px;
    --masthead-menu-padding-top: -3px;
    --who-blue-25-percent: #C9DDF3;
    --who-blue-ten-percent: #DDEFF9;
    --neutral-light-grey: #E6E7E8;
    --A11ygrey: #757575;
}

a {
  color: var(--primary-navy);
}

#NavbarBrandingContainer a:hover {
    text-decoration: none; /* overwrites default */
}

a:hover {
  color: var(--primary-navy);
  text-decoration: underline;
}

.text-primary {
  color: #008dc9;
}

.bg-primary {
  background-color: #008dc9;
}

.btn-primary {
  background-color: #008dc9;
}

fieldset[disabled] .btn-primary.focus {
  background-color: #008dc9;
}

.btn-primary .badge {
  color: #008dc9;
}

.btn-link {
  color: #008dc9;
}

.dropdown-menu > .active > a:focus {
  background-color: var(--secondary-who-blue);
}

.nav .open > a:focus {
  border-color: #008dc9;
}

.nav-pills > li.active > a:focus {
  background-color: #008dc9;
}

.pagination > li > span {
  color: #008dc9;
}

.pagination > .active > span:focus {
  background-color: #008dc9;
  border-color: #008dc9;
}

.label-primary {
  background-color: #008dc9;
}

.nav-pills > .active > a > .badge {
  color: #008dc9;
}

a.thumbnail.active {
  border-color: #008dc9;
}

.progress-bar {
  background-color: #008dc9;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #008dc9;
  border-color: #008dc9;
}

.panel-primary {
  border-color: #008dc9;
}

.panel-primary > .panel-heading {
  background-color: #008dc9;
  border-color: #008dc9;
}

.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #008dc9;
}
.panel-primary > .panel-heading .badge {
  color: #008dc9;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #008dc9;
}

.banner {
  background-color: #008dc9;
}

.media-view:hover,
.media-view.hovered {
  border-color: #008dc9;
}

.media-view:hover .banner,
.media-view.hovered .banner {
  background-color: #008dc9;
}

.editor .editor-info-block a {
  color: #008dc9;
}

.resource-list.reordering .resource-item.ui-sortable-helper {
  border: 1px solid #008dc9;
}
.resource-list.reordering .resource-item.ui-sortable-helper .handle {
  border-color: #008dc9;
}

.view-list li a.active,
.view-list li a:hover {
  border-color: #008dc9;
}

.view-list li a.active .icon,
.view-list li a:hover .icon {
  background-color: #008dc9;
}

.view-list li .arrow {
  border-top-color: #008dc9;
}

.view-list li.active a {
  border-color: #008dc9;
}
.view-list li.active a .icon {
  background-color: #008dc9;
}

.view-list.stacked::-webkit-scrollbar-thumb:hover {
  background-color: #008dc9;
}

.homepage .module-search .module-content {
  background-color: #008dc9;
}

.popover-followee .nav li a i {
  background-color: #008dc9;
}

.popover-followee .nav li.active a i {
  color: #008dc9;
}

.resource-view-list.reordering li.ui-sortable-helper {
  border: 1px solid #008dc9;
}

.resource-view-list.reordering li.ui-sortable-helper .handle {
  border-color: #008dc9;
}

@media (max-width: 991px) {
.site-search {
    display: none;
  }
}

body {
    background: #fff;
    font-family: 'Source Sans 3 VF', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.promoted-left .headline {
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: left;

}


H1.headline {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
}


H1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

H2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
}

H3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

body{
    font-size: 14px;
    line-height: 20px;
}

p.small {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

@media only screen and (max-width: 991px) {
    H1.headline, .promoted-left .headline {
        font-weight: 400;
        font-size: 29px;
        line-height: 36px;
    }

    H1 {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
    }

    H2 {
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
    }

    H3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    p.small {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }

}


@media only screen and (min-width: 992px) {
    H1.headline {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.03em;
    }

    H1 {
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.02em;
    }

    H2 {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.01em;
    }

    H3 {
        font-size: 18px;
        line-height: 24px;
    }

    body{
        font-size: 16px;
        line-height: 24px;
    }

    p.small {
        font-size: 14px;
        line-height: 20px;
    }

}
/* helpers */
.inline-block {
    display: inline-block !important;
}


/* remove bar & replace with padding */
.homepage [role=main] {
    padding: 0;
}

.promoted-background {
    width: 100%;
    background-color: var(--primary-navy);
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
}

#NavbarBrandingContainer {
    position:absolute;
    top: 8px;
    left: 0px;
}

#NavbarLogo {
    display:  inline-block;
    height: 64px;
    padding-right: 19px;
}

#LogoBorder {
   display:  inline-block;
}

#NavbarHeadingContainer {
    line-height: 20px;
    font-weight: 700;
    font-size: 14px;
    color: #008dc9;
    margin:  10px;
    display:  inline-block;
    vertical-align:  middle;
}


#NavbarHeadingContainer H1 {
    font-weight: normal;
    letter-spacing: 0.00em;
}

#NavbarHeadingContainer .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: var(--primary-navy);
}

#NavbarHeadingContainer .subtitle {
    font-size: 14px;
    color: #212121;
}

@media only screen and (min-width: 992px){
    .masthead .navbar-collapse{
        padding-top: var(--masthead-menu-padding-top);
        display: flex !important;
    }
}

.masthead .navbar{
    margin-bottom: 0px;
    min-height: 80px;
}

.navbar-nav{
    margin: 0px;
}

.navbar-light .navbar-toggler {
    background: white;
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    position:absolute;
    top:25px;
    right: 0px;
}

.navbar-toggler .fa-bars {
    color: var(--primary-navy) !important;
}

.masthead .main-navbar .navbar-nav > li > a
{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: var(--primary-navy);
    flex: none;
    order: 1;
    flex-grow: 0;
    background-color: transparent;
    padding: 5px 0px;
    margin-left: 30px;
}

@media only screen and (max-width: 990px) {
    .masthead .main-navbar .navbar-nav > li > a {
        margin-left: 0;
    }
    .promoted-right .lens-btn {
        padding-left: 12px !important;
        padding-right: 12px !important;
        outline: none;
        border-left: none;


    }
    #field-giant-search {
        border-right: none;
    }

    .lens-btn .search-label{
        display: none;
    }
}



.masthead .main-navbar .navbar-nav li a:hover,
.masthead .main-navbar .navbar-nav li a:focus,
.masthead .main-navbar .navbar-nav li.active a,
.masthead .main-navbar ul li:hover a,
.masthead .main-navbar ul li:focus a,
.masthead .main-navbar ul li.active a
{
    color: var(--who-blue-65-percent);
    background-color: transparent;

}

.masthead .site-search {
    margin: 5px 0px 5px 30px;
}

.masthead .site-search input {
    width: 180px;
    height: 40px;
    padding: 10px 14px;
}

.site-search .btn-search .fa-search {
    color: var(--primary-navy);
    font-size: 20px;
    position:  absolute;
    top: 0px;
    right: 2px;
}

.fluid-white-bar {
    background-color: white;
    height: 80px;
    border-bottom: solid 5px #008dc9;
}

.account-masthead {
  height: var(--account-masthead-height);
  background: var(--primary-navy) ;
}

.account-masthead .account ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #fff;
    padding-right: 12px;
    margin-left:  15px;
    line-height: var(--account-masthead-height);
}

.account-masthead .account ul li a[selected="selected"] {
    background-color: var(--secondary-who-blue);
}

.account-masthead .account ul li:hover a[selected="selected"]:hover {
    background-color: var(--secondary-who-blue);
}

.account-masthead .account ul li:hover a:hover{
    color: #fff1e9;
    background-color: transparent;
}

.account-masthead .account ul li {
  border-left: none;
}

.account-masthead .account.authed .image img {
    border-radius: 4px;
    border: 2px solid #fff;
}

.account-masthead .account .notifications a span.badge {
    background: #fff1e9;
    color: #d86422;
}

.promoted, .promoted-home {
    font-style: normal;
    font-size:  18px;
}

.promoted-home .promoted-container {
    margin: 64px 0;
}

@media only screen and (max-width: 991px) {
    .promoted-home .promoted-container {
        margin: 2rem 0;
    }
}

.promoted .container {
    padding-top: 64px;
    padding-bottom: 64px;
}

.promoted-left {
    margin-top: 5%;
}

.promoted-right {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 32px;
    background-color: var(--who-blue-ten-percent);
    border-radius: 8px;
    padding-left: 32px;
    padding-right: 32px;
}

@media only screen and (max-width: 991px) {
    .promoted-right {
        margin-bottom: 64px;
        margin-top: 32px;
        padding-bottom: 32px;
    }
}

@media only screen and (min-width: 992px) {
    .promoted-right {
        min-height: 428px;
    }
}

@media only screen and (min-width: 992px) {
    .promoted-right div.search-section:last-child {
        margin-bottom: 32px;
    }
}

.promoted h1{
    font-weight: 700;
    margin-bottom: 15px;
}

.promoted h2 {
    font-weight: 700;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.promoted .subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--who-blue-ten-percent);
    margin-bottom:  15px;
    letter-spacing: 0;
}

.promoted .big-search-form {
    margin: 0;
}

.promoted .search-form {
    border-bottom: none;
    width: 100%;
    margin-bottom: 0;
}

.promoted .big-search-form .lens-btn,
.insights .insight-row .search-section .big-search-form .lens-btn {
    height:  50px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 0 4px 4px 0;
}

.promoted .big-search-form .lens-btn:hover,
.insights .insight-row .search-section .big-search-form .lens-btn:hover {
    border-color: var(--primary-navy) thin 1px !important;
    color: var(--primary-navy) !important;
}

.promoted .big-search-form .lens-btn span.search-label,
.insights .insight-row .search-section .big-search-form .lens-btn span.search-label{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.promoted .big-search-form .fa-search,
.insights .insight-row .search-section .big-search-form .fa-search {
    font-size:  20px;
    margin-right: 2px;
}

.insights .insight-row .search-section .big-search-form input{
    height:  50px;
    border-color: #FFF;
}


.promoted .big-search-form input, .form-control {
    border: var(--who-blue-25-percent) solid 1px;
    border-radius: 4px;
    outline: none;
    height: auto;
}

.form-control:focus {
    border: var(--primary-navy) solid 1px;
    box-shadow: inset 1px 1px 1px rgba(0, 32, 92, 1),
                    1px 1px 1px rgba(0, 32, 92, 1);
}

.input-group-btn {
    text-align: center;
    margin-bottom: 0;
}

.promoted .search-section,
.insights .insight-row .search-section {
    margin-top:28px;
}

.promoted-right h2:first-child,
.promoted .search-section p:first-child,
.insights .insight-row .search-section p:first-child {
    color: var(--primary-navy);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 4px;
}

.search-section div.search-options {
}

.search-options ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search-options ul li.criterion {
    display: inline-flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 6px;
    height: 20px;
    border-radius: 4px;
    box-shadow: 0px 8px 24px 0px #0000000A;

}

.search-options ul li {
    display: inline-flex;
    align-items: center;
    margin: 5px;
}

.search-options ul li.criterion a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--secondary-who-blue);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

.search-options ul li a {
    text-decoration: underline;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-navy);
    text-align: center;
}

.all-criteria {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-navy);
    text-decoration: underline;
}

.search-form {
  padding-bottom: 0; /* to remove search form default padding */
  border-bottom: 0;
}


.promoted a.small,
.promoted a.small:active,
.promoted a.small:hover ,
.promoted a.small:visited {
    color:#FFFFFF;
    padding-top: 0;
    text-decoration: underline;
    font-weight: 400;
    font-size: 15.64px;
    line-height: 19px;
}

.insights {
    min-height: 484px;
    background: var(--who-blue-ten-percent);
    padding: 48px 0;
}

.insight-row, .data-hub-stats .row {
    --bs-gutter-x: 0;
}

.insights H2 {
    margin-bottom: 32px;
    margin-top: 0px;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    color: var(--primary-navy);

}

.insights H3 {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: var(--primary-navy);

}

.insight-square {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    min-height: 297px;
    margin-bottom: 48px;
}


.insight-square p, .insight-rect p span:first-child {
    color: var(--primary-navy);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.insight-rect p span:nth-child(2) {
    color: var(--primary-navy);
    font-weight: 700;
    font-size: 14px;
}

.insight-square p a span, .insight-rect p a span:last-child {
    float: right;
    color: var(--secondary-who-blue);
}

.insight-img-container {
    padding: 18px;
}

.insight-img-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.insight-rect img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.insight-rect {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    height: 354px;
}

.insight-small-rect {
    background-color: white;
    padding: 19px;
    border-radius: 8px;
    min-height: 101px;
}

.data-hub-stats {
    margin-top: 48px;
    height: 374px;
}

.insight-small-rect p:first-child {
    color: var(--primary-navy);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

@media only screen and (min-width: 991px) {
    .data-hub-stats {
        margin-top: 0;
        margin-left: 24px;
        width: calc(50% - 24px);
        height: 374px;
    }
}

@media only screen and (min-width: 576px) {
    .insight-small-rect:last-child {
        margin-left: 24px;
        width: calc(50% - 24px);
    }
}

.recently-updated .container {
    margin-top: 64px;
}

@media only screen and (max-width: 575px) {
    .data-hub-stats H3 {
        margin-top: 0;
    }
    .data-hub-stats {
        margin-top: 32px;
    }
    .recently-updated .container {
        margin-top: 32px;
    }

    .insights {
        padding-bottom: 0;
        padding-top: 32px;
    }
    .insight-small-rect:last-child {
        margin-top: 24px;
    }
    .insights .container {
        min-height: 1750px;
    }

}

.number span {
    color: var(--primary-navy);
    font-weight: 400;
    font-size: 36px;
}

.data-hub-stats .row {
    margin-bottom:  24px;
}

.insight-square {
    margin-right: 24px;
    width: calc(33.3% - 24px) ;
}
.insight-square:last-child {
    margin-right: 0;
    width: calc(33.3%);
}

@media only screen and (max-width: 575px) {
    .row.insight-row {
        display: block;
    }
    .insight-square, .insight-square:last-child {
        margin-right: 0;
        margin-bottom: 32px;
        width: 100%;
        height: 100%;
    }
    .after-insights {
        padding-top: 85%;
        background: var(--who-blue-ten-percent);
        min-height: 418px;
    }
}

.category-box {
    background: #FFFFFF;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    margin-bottom: 24px;
    padding:  20px;
    height:  110px;
}

.category-box .group-thumbnail {
    float:  left;
    display: inline-block;
    vertical-align: middle;
    max-height: 70px;
    margin-right: 20px;
}

.category-box .group-text {
    vertical-align: middle;
    width:  100%;
}
.category-box .group-text .title{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #008dc9;
}

.category-box .group-text .desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #212121;
    overflow:  hidden;
    height:  50px;
}

.category-box .btn-delete {
    background: transparent;
    color: #008dc9;
    font-size: 20px;
    padding: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* tags margin */
.dataset-resources {
    list-style-type: none;
    padding-left: 0;
    flex-direction: column;
    align-items: center;

}

.dataset-resources li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px 6px;
    background: var(--who-blue-ten-percent);
    border-radius: 4px;
    margin-left: 0;
    margin-right: 8px;
    margin-bottom: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: none;
}

.dataset-resources li a.badge,
.dataset-resources li a.badge:hover {
    display: inline-block;
    background-color: transparent;
    color: var(--secondary-who-blue);
    text-decoration: none;
    border-radius: 4px;
}
/* end tags margin */

a.tag,
a.tag:hover  {
    padding: 2px 6px;
    background: #fff1e9;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border:  none;
    color: #056839;
    box-shadow:  none;
}

.tag-list{
    background:  transparent;
    border:  none;
}

.recently-updated H2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    color: var(--primary-navy);
    letter-spacing: -0.01em;
    margin-bottom: 48px;
    margin-left: 0;
    margin-top: 64px;
}

.recently-updated H3 {
    color: var(--primary-navy);
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;

}

.recently-updated-title{
    margin-top: 48px;
    margin-bottom: 24px;
    position: relative;
}

@media only screen and (max-width: 559px) {
    .recently-updated{
        margin-top: 32px;
        margin-bottom: 24px;
    }
}

@media only screen and (min-width: 768px) {
    .recently-updated {
        padding-bottom: 64px;
    }
}


.dataset-content {
    margin-right: 24px;
    margin-bottom: 20px;
}

.dataset-item {
    list-style:  none;
}

.homepage-package-list .dataset-item {
    list-style:  none;
    border: var(--primary-navy) solid 1px;
    border-radius: 8px;
    padding: 24px;
    height: 100%;
}

.dataset-content .dataset-heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin:  10px 0px;
}

.homepage-package-list .dataset-content .dataset-heading {
    color: var(--primary-navy);
}

.dataset-content .author {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #212121;
    margin-bottom: 0px;
}

.dataset-content .modified {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--primary-navy);
    padding-bottom: 12px;
}

.dataset-content div:last-child {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--primary-navy);
}


.dataset-content div {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.homepage-package-list .dataset-content div {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.recently-updated .view-all-btn {
    display: inline-block;
    padding: 6px 16px;
    height: 36px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--primary-navy);
    background: var(--who-blue-ten-percent);
    border-radius: 4px;
    position: absolute;
    top: 0px;
    right: 0px;
}

@media only screen and (max-width: 415px) {
    .recently-updated .view-all-btn {
        margin-top: 10px;
        position: static;
    }
}

.recently-updated .view-all-btn:hover {
    text-decoration: none;
}

.recently-updated-datasets {
    display: none;
}

@media only screen and (max-width: 415px) {
    .no-row {
        display: none;
    }
    .recently-updated-datasets {
        display: flex;
        --bs-gutter-x: 0;
    }
    .recently-updated-datasets a {
        margin-top: 6px;
        width: 90px;
    }
}

@media only screen and (max-width: 767px) {
    .homepage-package-list > .dataset-item {
        border: none;
        border-radius: 0;
        /*padding: 24px;*/
    }
    .homepage-package-list > .dataset-item:last-of-type {
        border-bottom: var(--who-blue-25-percent) solid 1px;
    }
}

.subscribe {
    background-color: var(--primary-navy);
}

.subscribe .container {
    padding-top: 64px;
}

/* opacity is not working (background of parent is heavier), the new color is factored from original rgba values by 0.1 */
.subscribe .highlight-box {
    background-color: rgba(25, 54, 108, 1);
    border-radius: 4px;
    padding: 36px;

}

.highlight-box > * {
    --bs-gutter-x: 0;
}

.subscribe h2 {
    color: #FFFFFF;
    margin-top: 0px;
}

.subscribe .subtext {
    color: #FFFFFF;
    margin-bottom: 24px;
}

.subscribe .register {
    height: 48px;
    color: var(--primary-navy);
    background: #EDE8E8;
    border-radius: 4px;
    display: inline-block;
    padding: 12px 16px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}


.subscribe .login{
    height: 48px;
    display: inline-block;
    font-weight: 700;
    color: #FFFFFF;
    padding: 12px 16px;
    text-align:  center;
}


@media only screen and (min-width: 375px) and (max-width: 990px){
    .highlight-box .row div:first-child {
    }
    .subscribe .register {
        width: 100%;
    }
    .highlight-box .row div:nth-child(2) {
        margin-left: 0;
    }
    .subscribe .login {
        width: 100%;
    }
}

@media only screen and (min-width: 991px) {
    .highlight-box .row div:first-child {
        max-width: 215px !important;
    }
    .highlight-box .row div:nth-child(2) {
        margin-left: -40px;
        padding-left: 0;
    }
}


.spacer{
    height:  64px;
}

@media only screen and (min-width: 767px) {
    .subscribe .login{
        text-align: left;
        padding-left: 20px;
    }
}

.highlight-box h2 {
    font-weight: 400;
}

.login a, .login a:hover {

    margin-left: 10px;
    color: #FFFFFF;
    text-decoration: underline;
}

@media only screen and (min-width: 992px) {
    .mobile-menu {
        display: none;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}

.mobile-menu .search-form {
    margin-top: 70px;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 25px;
    border-bottom: none;
}

.site-footer {
    background: var(--primary-navy);
    width: 100%;
    padding: 0;
    margin-bottom: -25px;
}

.site-footer .list-unstyled {
    width: 100%;
    display: block;
    position: relative;
    box-sizing: border-box;
}

.site-footer .list-unstyled li {
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-right: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.site-footer .list-unstyled li:last-child {
    position: absolute;
    right: 0;
    top: 0;
}

.site-footer .container {
    padding-bottom: 32px;
}


.footer-links img {
    width:  100%;
    margin-bottom: 30px;
}

.main, .homepage .hero {
    min-height: 80vh;
    padding-top: 32px;
    padding-bottom: 64px;
    background: #FFFFFF;
}

.homepage .main,
.homepage .hero,
.categories .main,
.categories .hero{
    padding: 0px;
}

.site-footer .desc {
    color: var(--who-blue-25-percent);
    margin-bottom: 0px;
}

.desc-mobile {
    display: none;
}

.desc-tablet {
    margin-top: 0;
    display: none;
}


@media only screen and (max-width: 575px) {
    .desc-mobile {
        display: block;
    }
    .desc-large {
        display: none;
    }
    .desc-tablet {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .desc-wide {
        display: none;
    }
    .desc-tablet {
        display: block;
    }
}
.site-footer .list-unstyled li a {
    color: var(--who-blue-25-percent) !important;
}

a.footer-link:hover,
.site-footer .desc a,
.site-footer .desc a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}


.site-footer .list-unstyled li a{
    color: #FFFFFF;
}

@media only screen and (min-width: 769px) {
    .site-footer .list-unstyled li {
        display: inline-block;
    }
}

.footer-logo {
    max-width: 156px;
    height: auto;
}

.navbar-toggle {
    color: #008dc9;
}

.add-category{
    margin-bottom: 32px;
}


.toolbar .breadcrumb a {
    color: #505050;
}

.btn{
  padding:  10px 40px;
  /*font-weight: 700;*/
  /*font-size: 16px;*/
  /*line-height: 24px;*/
}

.btn-primary,
.btn-success,
.btn-default {
  background-color: var(--primary-navy);
  border: var(--primary-navy) solid 1px;
  color: #fff;
}

.btn-danger {
    background-color: white;
    border-color: var(--primary-navy) solid 1px;
    color: var(--primary-navy);
}

.btn-light:hover,
.btn-default:hover,
.btn-primary:hover,
.btn-danger:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus  {
  color: var(--primary-navy);
  background-color: var(--who-blue-ten-percent) !important;  /* to overwrite default */
  border-color: var(--who-blue-ten-percent);
}

.btn-xs{
    padding:  3px 7px;
}

#content{
    padding-left: 30px;
    padding-right: 30px;
}

.promoted-breadcrumbs .toolbar{
    height:  170px;
}

.promoted-breadcrumbs .breadcrumb li{
    margin: 5px 0px;
}

.promoted-breadcrumbs .toolbar .breadcrumb a{
    color: #FFF;

}

.promoted-breadcrumbs .toolbar .breadcrumb{
    position: absolute;
    bottom: 32px;
    font-size: 16px;
}

@media only screen and (min-width: 992px) {
    .promoted-breadcrumbs .toolbar .breadcrumb {
        font-size: 24px;
    }
}

.masthead {
  background: #FFFFFF;
}

.fluid-white-bar {
    height: 0;
    border-bottom: solid 0px #FFFFFF;
}


.list-unstyled {
  padding-bottom:0;
  margin: 0;
  list-style: none;
}


.dataset-heading a{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--primary-navy);
}

.add-to-group button{
    margin:  20px 0px;
}

.resource-item .resource-detail{
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #212121;
    margin-bottom: 0px;
}

.activity {
    background-position: 24px 0;
}

.dropdown-toggle:after{
    display:none;
}

.select2-container {
    border: none;
    box-shadow: none;
    padding: 7px 0px;
}

/* change URL: field to Username: */
#username-input-field .slug-preview strong {
    display: none;
}

/* make username input conform to form style */
#username-input-field .input-group {
    width: 100%;
}

#username-input-field .form-control {
    border-radius: 3px;
}

.additional-info .table{
    margin-bottom: 0.5rem;
}
.resource.additional-info .api-link{
    margin: -1.5rem 1.5rem 1rem 1.5rem;
}
.api-link{
    margin-bottom: 1rem;
}

.logs{
    background-color: #e7e7e7;
    font-family: 'Courier New', monospace;
    border: solid 1px #b5b5b5;
    border-radius: 5px;
    font-size: 10px;
    padding: 0px;
    margin-bottom: 20px;
}

.logs p{
    padding: 10px 20px;
    margin: 0px;
    display: block;
}

.logs p:hover{
    background-color: #f3f3f3;
    border-radius: 5px;
}

.logs-reload i{
    margin-right: 5px;
    color: #008dc9;
}

.module.automation{
    border-top: 1px dotted #DDD;
}

.module .automation-function{
    border-top: 1px dotted #DDD;
    margin-top: 20px;
    padding: 10px 0px;
}

.promoted-home .promoted-left .description {
    color: var(--who-blue-ten-percent);
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

p.learn-more a {
    font-size: 16px;
    color: var(--who-blue-ten-percent);
    text-decoration: underline;
    font-weight: 700;
}

.footer-search-section {
    padding-top: 64px;
}

.footer-search-section div h2 {
    font-size: 18px;
    color: white;
    line-height: 24px;
    font-weight: 700;
}

.footer-search-section  .lens-btn {
    background-color: var(--who-blue-ten-percent) !important;
    border: var(--who-blue-ten-percent) solid 1px;
    border-radius: 0 4px 4px 0;
    padding-left: 36px;
    padding-right: 36px;
}

.footer-search-section #field-giant-search, .footer-search-section #field-giant-search:focus {
    outline: none;
    border: none;
}

.footer-search-section  .lens-btn .search-label{
    display: block;
}

.footer-search-section .search-label {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.footer-search-section {
    margin-bottom: 64px;
}

.footer-search-section .lens-btn {
    border-left-color: var(--who-blue-ten-percent);
    color: var(--primary-navy);
}

@media only screen and (max-width: 575px) {
    .footer-search-section {
        padding-top: 0;
    }
    .footer-search-section div:first-child {
        display: none;
    }
    .site-footer .container {
    padding-bottom: 24px;
}
}

#dataset-search-form .input-group-btn:last-child > .btn {
    z-index: 0;
    border-radius: 0 4px 4px 0;
}

/* mobile design for containers */
@media only screen and (max-width: 767px) {
    .container {
        width: 100%;
        padding-right: var(--bs-gutter-x, 1.5rem);
        padding-left: var(--bs-gutter-x, 1.5rem);
        margin-right: auto;
        margin-left: auto;
    }
    .homepage-package-list .dataset-item {
        padding: 12px 0;
    }
}

@media only screen and (max-width: 407px) {
    .mobile-menu .search-form {
        margin-top: 83px;
    }
}

.big-search-form .search-form {
    margin-bottom: 0;
}

.promoted-container .promoted-left .promoted-left-text {
    background-color: var(--primary-navy);
    position: relative;
    z-index: 2;
    padding: 10px;
    top: -10px;
    left: -10px;
}

.promoted-right {
    z-index: 2;
}


/* dev banner */
.dev-banner-container {
    display: none;
    width: 100%;
}

.nav-for-large-screen {
    display: block;
}

.account-masthead .account ul li.dev-banner {
    display: none;
}

.dev-banner-mobile {
    display: none;
}


@media only screen and (max-width: 627px) {

    .dev-banner-container .row {
        --bs-gutter-x: 0;
    }

    .account-masthead {
        height: 100%;
    }

    .dev-banner-container {
        display: block;
    }

    .nav-for-large-screen {
        display: none;
    }

    .account-masthead .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .dev-banner-container .list-unstyled {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .dev-banner-container .list-unstyled li {
        width: 100%;
    }

    .account-masthead .account ul li a {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .dev-banner-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        pointer-events: none;
        background-color: white;
        margin: 0;
        width: 100%;
    }

    .dev-banner-mobile a {
        color: var(--secondary-who-blue);
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-decoration: none;
    }

    .dev-banner-mobile a .clickable {
        margin-left: 6px;
        pointer-events: auto;
        font-weight: 700;
        text-decoration: underline;
    }

    .dev-banner-mobile a i {
        margin-right: 6px;
        margin-top: -2px;
    }

}

@media only screen and (min-width: 628px) {

    .account-masthead .account ul li.dev-banner  {
        display: block;
    }

    .account-masthead .account {
        float: left;
    }

    nav.account {
        width: 100%;
    }

    nav.account ul.list-unstyled {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    .dev-banner {
        margin-right: auto;
        background-color: var(--secondary-who-blue);
        pointer-events: none;
    }

    ul li.dev-banner a {
        margin-left: 0 !important;
    }

    .dev-banner a .clickable {
        margin-left: 6px;
        pointer-events: auto;
        font-weight: 700;
        text-decoration: underline;
    }

}

.ckan-circle-exclamation {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    font-size: 16px;
    margin-right: 7px;
    vertical-align: middle;
    margin-top: -1px;
}

.ckan-circle-exclamation::before {
    content: '!';
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    line-height: 1;
    font-weight: 900;
}

.ckan-circle-exclamation.white {
    color: white;
    border: 2px solid white;
}

.ckan-circle-exclamation.secondary-who-blue {
    color: var(--secondary-who-blue);
    border: 2px solid var(--secondary-who-blue);
}

.logout-button {
    height: 70px;
}

.insights-page .main{
    padding-top: 0px;
}

.insights-page .featured-insight{
    padding: 50px 10px ;
}

.insights-page .featured-dashboard{
    width: 100%;
    height: 720px;
    margin: 30px 0px;
}

.resource-view .resource-view-filters a.btn.btn-primary {
    display: none;
}

.ckanext-datapreview > iframe {
    min-height: 675px;
}

.caret {
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

#dropdownDownloadFormat{
    padding:10px;
}

/* about */
.about {
    padding: 16px;
}

.about ul {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 12px;
}

.about p.sub, .about p.appendix {
    color: #000000;
    text-align: justify;
}

.about p.sub {
    margin-bottom: 16px;
}

.about p.appendix {
    font-size: 14px;
}

.about ul li {
    padding-top: 12px;
    font-size: 16px;
    text-align: justify;
}

.about ul li strong {
    font-weight: 900;
    font-size: 16px;
}
/* about */

